<section class="cart">
  <div class="container" data-cart-container data-flow-cart-container>

    <h1 class="cart__title">{{ 'cart.general.title' | t }}</h1>

    {% if cart.item_count > 0 %}

      <form class="cart__form" action="/cart" method="post" novalidate data-loader>
        <table class="cart__table responsive-table">
          <thead class="cart__table-thead small--hide">
            <tr>
              <th class="cart__table-head">{{ 'cart.label.product' | t }}</th>
              <th class="cart__table-head">{{ 'cart.label.quantity' | t }}</th>
              <th class="cart__table-head">{{ 'cart.label.price' | t }}</th>
              <th class="cart__table-head">{{ 'cart.label.total' | t }}</th>
            </tr>
          </thead>
          <tbody data-cart-content>
            {% comment %} loads with ajax {% endcomment %}
          </tbody>
        </table>

        <div class="cart__info">
          <div class="row">
            <div class="col-lg-6">
              {% if settings.cart_notes_enable %}
                <div class="cart__info-notes">
                  <label class="cart__info-notes-label" for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
                  <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
                </div>
              {% endif %}
            </div>
            <div class="col-lg-6">
              <div class="cart__info-totals" data-cart-totals>
                {% comment %} loaded with ajax {% endcomment %}
              </div>

              <div class="cart__info-checkout-wrap">
                {% comment %} <button data-cart-checkout type="submit" name="checkout" class="cart__checkout">{{ 'cart.general.checkout' | t }}</button> {% endcomment %}
                <button data-cart-checkout type="button" name="checkout" class="cart__checkout" onclick="reChargeProcessCart()">{{ 'cart.general.checkout' | t }}</button>
              </div>

              <p class="cart__info-notes-label text-right">{{ 'cart.general.shipping_at_checkout' | t }}</p>
            </div>
          </div>

        </div>

      </form>
    {% else %}
      <div class="supports-cookies">
        <p class="cart__note">{{ 'cart.general.empty' | t }}</p>
        <p class="cart__note">{{ 'cart.general.continue_browsing_html' | t }}</p>
      </div>

      <div class="supports-no-cookies">
        <p class="cart__note">{{ 'cart.general.cookies_required' | t }}</p>
      </div>
    {% endif %}
  </div>
</section>

<script type="application/json" id="flow_shopify_cart">{{ cart | json }}</script>
