{% section 'pre-order-header' %}

{% section 'pre-order-bottle-sizes' %}

{% section 'pre-order-video' %}

{% section 'pre-order-alkaline-water' %}

{% section 'pre-order-product' %}

{% section 'pre-order-subscription' %}

{% section 'pre-order-why-alkaline' %}

{% section 'pre-order-last-bottle' %}

{% section 'pre-order-on-the-go' %}

{% section 'pre-order-testimonials-slider' %}

{% section 'pre-order-diffusers' %}

{% section 'pre-order-features' %}

{% section 'pre-order-testimonials' %}

{% section 'pre-order-cap' %}

{% section 'pre-order-guard' %}

{% section 'pre-order-hydro-optim' %}

<section class="pre-order-shop" data-tab-container data-pre-order-products>
  <div class="container">
    <h2>{{ 'pre_order.shop_all.title' | t }}</h2>
    <div class="pre-order-shop__banner">
      <button type="button" class="active" data-tab-link="1">{{ 'pre_order.shop_all.tab_1' | t }}</button>
      <button type="button" data-tab-link="2">{{ 'pre_order.shop_all.tab_2' | t }}</button>
      <button type="button" data-tab-link="3">{{ 'pre_order.shop_all.tab_3' | t }}</button>
      <button type="button" data-tab-link="4">{{ 'pre_order.shop_all.tab_4' | t }}</button>
    </div>
    <div class="pre-order-shop__products">
      <div class="pre-order-shop__block active" data-tab="1">
        {% section 'pre-order-shop-bottles' %}
      </div>
      <div class="pre-order-shop__block" data-tab="2" style="display:none;">
        {% section 'pre-order-shop-diffusers' %}
      </div>
      <div class="pre-order-shop__block" data-tab="3" style="display:none;">
        {% section 'pre-order-shop-caps' %}
      </div>
      <div class="pre-order-shop__block" data-tab="4" style="display:none;">
        {% section 'pre-order-shop-guards' %}
      </div>
    </div>
  </div>
</section>

{% section 'pre-order-footer' %}
