<section data-section-id="{{ section.id }}" data-section-type="product" data-pdp-product-id="{{ product.id }}" data-single-product="{{ product.id }}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="pdp-content d-lg-none">
          <div class="row no-gutters">
            <div class="col-md-12 col-7">
              <h1 class="pdp-content__title">{{ product.title }}</h1>
            </div>
            <div class="col-md-12 col-5">
              <div class="pdp-content__reviews">
                <span class="stamped-product-reviews-badge" data-id="{{ product.id }}">{{ product.metafields.stamped.badge }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-7">

        {% section 'pdp-gallery' %}

        {% section 'pdp-gallery-index' %}

      </div>

      <div class="col-lg-5">

        {% section 'pdp-content' %}

        {% assign show_diffuser_form = false %}
        {% if settings.extra_diffusers_show_where contains product.id %}
          {% assign show_diffuser_form = true %}
        {% endif %}
        {% if settings.extra_diffusers_product == product.handle %}
          {% render 'subscription-form' with settings.extra_diffusers_product
            current_product_id: product.id
            show_extras: true,
            note: settings.extra_diffusers_note,
            index: 8,
          %}
        {% else %}
          {% section 'pdp-form' %}
        {% endif %}

        {% if show_diffuser_form %}
          {% unless settings.extra_diffusers_product == product.handle %}
            {% render 'subscription-form' with settings.extra_diffusers_product
              current_product_id: product.id
              show_extras: false,
              title: settings.extra_diffusers_title,
              note: settings.extra_diffusers_note
              hide_price: true
              index: 9,
            %}
          {% endunless %}
        {% endif %}

      </div>
    </div>
  </div>

  {% section 'pdp-usps' %}

  {% section 'pdp-video' %}

  <div class="pdp-tabs" data-tab-container>
    <div id="pdp-tabs-anchor"></div>
    {% section 'pdp-tabs-header' %}

    <div class="pdp-tab-1 active" data-tab=0>
      {% section 'pdp-tab-features' %}
    </div>

    <div class="pdp-tab-2" data-tab=1 style="display:none">
      {% section 'pdp-tab-included' %}
    </div>

    <div class="pdp-tab-3" data-tab=2 style="display:none">
      {% section 'pdp-tab-specs' %}
    </div>

  </div>

  {% section 'pdp-related' %}

  {% section 'pdp-faqs' %}

  {% section 'pdp-reviews' %}

  {% section 'pdp-user-images' %}

  {% render 'diffuser-modal' %}

  {% render 'diffuser-sub-modal' %}

  {% render 'atc-bar' %}

  <input type="hidden" data-current-product-id value="{{ product.id }}" />

  <script type="application/ld+json" data-pdp-product-json>
    {{ product | json }}
  </script>
  <script type="application/ld+json" data-pdp-product-options>
    {{ product.options_with_values | json }}
  </script>

</section>

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "{{ product.title | escape }}",
  "url": "{{ shop.url }}{{ product.url }}",
  {% if product.featured_image %}
    {% assign image_size = product.featured_image.width | append: 'x' %}
    "image": [
      "https:{{ product.featured_image.src | img_url: image_size }}"
    ],
  {% endif %}
  "description": {{ product.description | json }},
  {% if current_variant.sku != blank %}
    "sku": "{{ current_variant.sku }}",
  {% endif %}
  "brand": {
    "@type": "Thing",
    "name": "{{ product.vendor | escape }}"
  },
  {% if product.variants %}
    "offers": [
      {% for variant in product.variants %}
        {
          "@type" : "Offer",
          "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : "{{ variant.price | divided_by: 100.00 }}",
          "priceCurrency" : "{{ shop.currency }}",
          "url" : "{{ shop.url }}{{ variant.url }}",
          "itemOffered" :
          {
              "@type" : "Product",
              {% if variant.image %}
                {% assign variant_image_size = variant.image.width | append: 'x' %}
                "image": "http:{{ variant.image.src | img_url: variant_image_size }}",
              {% endif %}
              {% if variant.title != blank %}
                "name" : "{{ variant.title | escape }}",
              {% endif %}
              {% if variant.sku != blank %}
                "sku": "{{ variant.sku }}",
              {% endif %}
              {% if variant.weight != blank %}
                "weight": {
                  "@type": "QuantitativeValue",
                  {% if variant.weight_unit != blank %}
                    "unitCode": "{{ variant.weight_unit }}",
                  {% endif %}
                  "value": "{{ variant.weight | weight_with_unit: variant.weight_unit }}"
                },
              {% endif %}
              "url": "{{ shop.url }}{{ variant.url }}"
          }
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  {% endif %}
}
</script>
