<div class="blog-side-menu template-{{ template.name | handle }}" data-accordion-parent=false>
  <div class="is--open" data-accordion-wrap=index>
    <div class="blog-side-menu__btn open" data-accordion-button=index>
      <h3>Choose a topic</h3><i class="fa fa-plus"></i>
    </div>
    <div class="blog-side-menu__list blog-side-menu__list-open" data-accordion-content=index>
      {% if blog.all_tags.size > 0 %}
        <ul>
          {% for tag in blog.all_tags %}
            {% if current_tags contains tag %}
                <li>{{ tag }}</li>
            {% else %}
              <li><a href="{{ blog.url }}/tagged/{{ tag | handle }}?view=tagged">{{ tag }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</div>

{{ 'font-awesome.min.css' | asset_url | stylesheet_tag }}

