<div class="contact-sidebar">
  {% if settings.contact_s_title != blank %}
    <h3 class="d-none d-sm-block">{{ settings.contact_s_title }}</h3>
  {% endif %}

  {% if settings.contact_s_help_link_1_text != blank %}
    {% assign help_1 = settings.contact_s_help_link_1 %}
    {% if settings.contact_s_help_1_is_modal %}
      {% assign help_1 = "#contact-modal-1" %}
    {% endif %}

    <a class="contact-sidebar__link" href="{{ help_1 }}" data-contact-modal-link>
      <span class="contact-sidebar__link-i">{% render 'icon-phone' %}</span>
      <span class="contact-sidebar__link-t">{{ settings.contact_s_help_link_1_text }}</span>
    </a>

    {% if settings.contact_s_help_1_is_modal %}
      <div class="contact-sidebar__modal-wrap" id="contact-modal-1" style="display:none;">
        <div class="contact-sidebar__modal-outer" data-contact-modal-close></div>
        <div class="contact-sidebar__modal">
          <p class="contact-sidebar__modal-title">{{ settings.contact_s_modal_1_title }}</p>
          <button class="contact-sidebar__modal-close" data-contact-modal-close>
            {% render 'icon-close' %}
            <span class="visually-hidden">{{ 'general.accessibility.close' | t }}</span>
          </button>

          <div class="contact-sidebar__modal-buttons">
            {% if settings.contact_s_modal_1_button_1_text != blank %}
              <a class="contact-sidebar__modal-button" href="{{ settings.modal_1_button_1 }}">
                <span class="contact-sidebar__modal-b-i">{% render 'icon-phone' %}</span>
                <span class="contact-sidebar__modal-b-t">{{ settings.contact_s_modal_1_button_1_text }}</span>
              </a>
            {% endif %}
            {% if settings.contact_s_modal_1_button_2_text != blank %}
              <a class="contact-sidebar__modal-button" href="{{ settings.modal_1_button_2 }}">
                <span class="contact-sidebar__modal-b-i">{% render 'icon-phone' %}</span>
                <span class="contact-sidebar__modal-b-t">{{ settings.contact_s_modal_1_button_2_text }}</span>
              </a>
            {% endif %}
          </div>

          {% if settings.contact_s_modal_1_note != blank %}
            <p class="contact-sidebar__modal-note">{{ settings.contact_s_modal_1_note }}</p>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endif %}

  {% if settings.contact_s_help_link_2_text != blank %}
    {% assign help_2 = settings.contact_s_help_link_2 %}
    {% if settings.contact_s_help_2_is_modal %}
      {% assign help_2 = "#contact-modal-2" %}
    {% endif %}

    <a class="contact-sidebar__link" href="{{ help_2 }}" data-contact-modal-link>
      <span class="contact-sidebar__link-i">{% render 'icon-mail' %}</span>
      <span class="contact-sidebar__link-t">{{ settings.contact_s_help_link_2_text }}</span>
    </a>

    {% if settings.contact_s_help_2_is_modal %}
      <div class="contact-sidebar__modal-wrap" id="contact-modal-2" style="display:none;">
        <div class="contact-sidebar__modal-outer" data-contact-modal-close></div>
        <div class="contact-sidebar__modal">
          <p class="contact-sidebar__modal-title">{{ settings.contact_s_modal_2_title }}</p>
          <button class="contact-sidebar__modal-close" data-contact-modal-close>
            {% render 'icon-close' %}
            <span class="visually-hidden">{{ 'general.accessibility.close' | t }}</span>
          </button>

          <div class="contact-sidebar__modal-buttons">
            {% if settings.contact_s_modal_2_button_1_text != blank %}
              <a class="contact-sidebar__modal-button" href="{{ settings.contact_s_modal_2_button_1 }}">
                <span class="contact-sidebar__modal-b-i">{% render 'icon-phone' %}</span>
                <span class="contact-sidebar__modal-b-t">{{ settings.contact_s_modal_2_button_1_text }}</span>
              </a>
            {% endif %}
            {% if settings.contact_s_modal_2_button_2_text != blank %}
              <a class="contact-sidebar__modal-button" href="{{ settings.contact_s_modal_2_button_2 }}">
                <span class="contact-sidebar__modal-b-i">{% render 'icon-phone' %}</span>
                <span class="contact-sidebar__modal-b-t">{{ settings.contact_s_modal_2_button_2_text }}</span>
              </a>
            {% endif %}
          </div>

          {% if settings.contact_s_modal_2_note != blank %}
            <p class="contact-sidebar__modal-note">{{ settings.contact_s_modal_2_note }}</p>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endif %}

  {% if settings.contact_s_help_link_3_text != blank %}
    {% if settings.contact_s_help_link_3_attribute %}
    <button type="button" {{ settings.contact_s_help_link_3_attribute }} class="contact-sidebar__link">
    {% elsif settings.contact_s_help_link_3 %}
    <a href="{{ settings.contact_s_help_link_3 }}"  class="contact-sidebar__link">
    {% endif %}
      <span class="contact-sidebar__link-i">{% render 'icon-chat' %}</span>
      <span class="contact-sidebar__link-t">{{ settings.contact_s_help_link_3_text }}</span>
    {% if settings.contact_s_help_link_3_attribute %}
    </button>
    {% elsif settings.contact_s_help_link_3 %}
    </a>
    {% endif %}
  {% endif %}
</div>
