<div class="account-edit profile-contact-pop popup" style="display:none;">
  <div class="account-edit__overlay"></div>
  <div class="account-edit__inner">
    <button type="button" class="account-bottle__close pop-close">
      <span class="visually-hidden">Close modal</span>
      <span aria-ignore="true">
        <svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><g stroke="#00AEDB" stroke-width="2" fill="none" fill-rule="evenodd"><path d="M1.333 1.333L11 11M10.667 1.333L1 11"/></g></svg>
      </span>
    </button>
    
    <div class="account-edit-option__body reset-form-wrap">
      <form action="">
	  <h3 class="registration-modal__title text-center profile-bg" style="background-image:url('{{ 'proiflie-image-1.jpg' | asset_url }}');">Contact Information <div class="account-header__wave"></div></h3>
        <div class="input-wrap">
          <input type="text"  class="form-input required" name="first_name" value="{{ customer.first_name }}" placeholder="First Name">
          <input type="text"  class="form-input required" name="last_name" value="{{ customer.last_name }}" placeholder="First Name" >
          <input type="email" class="form-input required" name="email" value="{{ customer.email }}" placeholder="email" >
        </div>
        <div class="phone-wrap">
          <input id="customer_phone_contact" name="phone" class="form-input required"  value="{{ customer.phone }}" type="hidden" >
          <input id="profile-contact-phone" class="form-input" value="{{ customer.phone }}" type="phone" placeholder="" >
        </div>        
        <div class="text-center">
          <div class="form-message"></div>
          <button type="button" id="profile-contact-btn" class="registration-modal__btn">Update</button>
          <!-- <input type="submit" class="login-page__submit" value="{{ 'customer.reset_password.submit' | t }}" /> -->
        </div>
      </form>
  </div>
</div>
</div>  