<div class="account-bottle popup" style="display:none;">
  <div class="account-bottle__overlay"></div>
  <div class="account-bottle__inner">
    <button type="button" class="account-bottle__close pop-close">
      <span class="visually-hidden">Close modal</span>
      <span aria-ignore="true">
        <svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><g stroke="#00AEDB" stroke-width="2" fill="none" fill-rule="evenodd"><path d="M1.333 1.333L11 11M10.667 1.333L1 11"/></g></svg>
      </span>
    </button>

    <div class="account-bottle__body" style="">
      <div class="account-bottle__image-wrap">
        <img class="btl-img" src="{{ 'dyln-account-bottle-pearl.png' | asset_url }}" alt="Image of DYLN water Bottle" class="account-bottle__image" />
      </div>
      <div class="account-bottle__content-wrap">
        <h3 class="account-bottle__title">Bottle #1</h3>
        <p class="account-bottle__code">BOTTLE CODE <strong>8a1c</strong></p>
        <div class="account-bottle__info-color">
          <p class="account-bottle__info-label">Color</p>
          <p class="account-bottle__info-value">Pearl Grey</p>
        </div>
        <div class="account-bottle__info-capacity">
          <p class="account-bottle__info-label">Capacity</p>
          <p class="account-bottle__info-value">32 oz</p>
        </div>
        <div class="clearfix"></div>
        <div class="dif-update-now">
        <p class="account-bottle__info-label">Diffuser replacement date</p>
        <p class="account-bottle__time-diffuser">00/00/00</p>
        <p class="dif-date-select" style="display:none"><input type="text" id="dif-update-date-now" /></p>
        <button type="button" class="account-bottle__info-update btn-update-now">Update Now</button>
        </div>  
      </div>
      <div class="clearfix"></div>

      <div class="account-bottle__diffuser">
        <div class="account-bottle__diff-progress-wrap" aria-ignore="true">
          {% comment %} progress must be in percent, so between 0 and 100. It needs to be in steps of 5, so 5, 10, 15, 20,... that is to reduce the size of the css file - each percent has its own class {% endcomment %}
          <div class="account-bottle__diff-progress progress-circle" data-progress="50">
            <img src="{{ 'dyln-account-diffuser.png' | asset_url }}" alt="Image of DYLN diffuser" class="account-bottle__diff-image" />
          </div>
        </div>
        <div class="account-bottle__diff-content">
          <p class="account-bottle__diff-info">
            <span class="account-bottle__diff-label">Days left</span>
            <span class="account-bottle__diff-value days-left">00</span>
          </p>
          <p class="account-bottle__diff-info">
            <span class="account-bottle__diff-label">Refills left</span>
            <span class="account-bottle__diff-value refills-left">00</span>
          </p>
          <p class="account-bottle__diff-info">
            <span class="account-bottle__diff-label">Start Date</span>
            <span class="account-bottle__diff-value start-date">00/00/0000</span>
          </p>
        </div>
      </div>

      <div class="account-bottle__hydration">
        <div class="account-bottle__hydro-icon-wrap">
          <div class="account-bottle__hydro-icon good">
            <svg width="49" height="61" viewBox="0 0 49 61" xmlns="http://www.w3.org/2000/svg"><g stroke="#20D480" fill="none" fill-rule="evenodd"><path d="M24.033 2.975C9.191 17.212 1.531 28.485 1.531 36.9a22.43 22.43 0 006.59 15.91 22.43 22.43 0 0015.91 6.59 22.43 22.43 0 0015.91-6.59 22.43 22.43 0 006.59-15.91c0-8.415-7.66-19.687-22.498-33.925z" stroke-width="3"/><path stroke-width="1.5" d="M14.031 36.808l7.184 9.092 13.816-20"/></g></svg>
          </div>
        </div>

        <div class="account-bottle__hydro-content">
          <p class="account-bottle__hydro-info">
            <span class="color refil-per-day">3</span>
            <span>Refills per day</span>
          </p>
          <p class="account-bottle__hydro-info">
            <span class="color refil-per-week">7</span>
            <span>Days per week</span>
          </p>
          <div class="account-bottle__hydro-status bg-color">Super Hydration!</div>
        </div>
      </div>        
      <div class="account-bottle__footer">
        <button type="button" class="account-bottle__button-edit edit_pop_bottle">Edit</button>
        <button type="button" class="account-bottle__button-delete">
          <span class="visually-hidden">Remove Bottle</span>
          <svg width="19" height="21" viewBox="0 0 19 21" xmlns="http://www.w3.org/2000/svg"><g stroke="#00AEDB" stroke-width="1.5" fill="none" fill-rule="evenodd"><path stroke-linejoin="round" d="M2.335 4.772h13.636l-.909 15.455H3.244z"/><path stroke-linecap="round" stroke-linejoin="round" d="M.971 4.772h16.364"/><path stroke-linejoin="round" d="M5.971 1.136h6.364v3.636H5.971z"/><path stroke-linecap="round" d="M6.198 7.954v9.091M8.926 7.954v9.091M11.653 7.954v9.091"/></g></svg>
        </button>
      </div>
    </div>

    <div class="account-bottle__edit" style="display:none;">
      <div class="account-bottle__edit-image-wrap">
        <img src="{{ 'dyln-account-bottle-pearl.png' | asset_url }}" alt="Image of DYLN water Bottle" class="account-bottle__edit-image" />
      </div>
      <div class="account-bottle__edit-content-wrap">
        <h3 class="account-bottle__edit-title">Bottle #1</h3>
        <p class="account-bottle__edit-info">
          Bottle Code &nbsp;&nbsp;<span class="code"> 8a1c</span>
        </p>
        <p class="account-bottle__edit-info">
          Color
          <span class="color">Pearl Grey</span>
        </p>
        <p class="account-bottle__edit-info">
          Capacity
          <span>32oz</span>
        </p>

        <div class="account-bottle__edit-date">
          <span class="registration-modal__select-wrap">
            <label for="registration-diffuser-date-day-1" class="visually-hidden">Day</label>
            <select name="day" id="registration-diffuser-date-day-1" class="registration-modal__select register-day">
              <option value="" disabled selected hidden>00</option>
              {% for n in (1..31) %}
              <option value="{% if n < 10 %}0{% endif %}{{ n }}">{% if n < 10 %}0{% endif %}{{ n }}</option>
              {% endfor %}
            </select>
            <svg class="registration-modal__select-icon" width="12" height="5" viewBox="0 0 12 5" xmlns="http://www.w3.org/2000/svg"><path d="M1 0l5 5 5-5" stroke="#333C41" fill="none" fill-rule="evenodd" stroke-linecap="round"/></svg>
          </span>
          <span class="registration-modal__select-wrap">
            <label for="registration-diffuser-date-month-1" class="visually-hidden">Month</label>
            <select name="month" id="bottleregistration-diffuser-date-month-1" class="registration-modal__select register-month">
              <option value="" disabled selected hidden>Month</option>
              <option value="01">January</option>
              <option value="02">February</option>
              <option value="03">March</option>
              <option value="04">April</option>
              <option value="05">May</option>
              <option value="06">June</option>
              <option value="07">July</option>
              <option value="08">August</option>
              <option value="09">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
            <svg class="registration-modal__select-icon" width="12" height="5" viewBox="0 0 12 5" xmlns="http://www.w3.org/2000/svg"><path d="M1 0l5 5 5-5" stroke="#333C41" fill="none" fill-rule="evenodd" stroke-linecap="round"/></svg>
          </span>
          <span class="registration-modal__select-wrap">
            <label for="registration-diffuser-date-year-1" class="visually-hidden">Year</label>
            <select name="year" id="registration-diffuser-date-year-1" class="registration-modal__select register-year">
              <option value="" disabled selected hidden>0000</option>
              {% for n in (2010..2020) %}
                <option value="{{ n }}">{{ n }}</option>
              {% endfor %}
            </select>
            <svg class="registration-modal__select-icon" width="12" height="5" viewBox="0 0 12 5" xmlns="http://www.w3.org/2000/svg"><path d="M1 0l5 5 5-5" stroke="#333C41" fill="none" fill-rule="evenodd" stroke-linecap="round"/></svg>
          </span>
        </div>
      </div>
      <div class="clearfix"></div>
      <h4 class="account-bottle__edit-subtitle">Bottle's Usage</h4>
      <label class="registration-modal__page-txt" for="bottle-registration-refills">Refills per day</label>
      <div class="registration-modal__range-scale">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
      </div>
      <input name="refills" id="bottle-registration-refills-edit" class="registration-modal__refills-range refil-per-day" type="range" min="1" max="5" step="1" value="" />
      <label class="registration-modal__page-txt" for="bottle-registration-days-per-week">Days per week</label>
      <div class="registration-modal__range-scale">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>6</span>
        <span>7</span>
      </div>
      <input name="days-a-week" id="bottle-registration-days-per-week" class="registration-modal__refills-range refil-per-week" type="range" min="1" max="7" step="1" value="" />
      <span class="registration-modal__input-warning">
        <span id="h-level-wrap">
        <span class="h-level">This is a low Hydration level</span>
        <span aria-ignore="true">
          <svg width="11" height="12" viewBox="0 0 11 12" xmlns="http://www.w3.org/2000/svg"><g transform="translate(0 1)" fill="none" fill-rule="evenodd"><circle stroke="#FFB300" cx="5.5" cy="5" r="5"/><path d="M5 2.503c0-.145.046-.266.137-.36A.48.48 0 015.5 2a.48.48 0 01.363.142.498.498 0 01.137.36c0 .142-.046.26-.137.356A.48.48 0 015.5 3a.48.48 0 01-.363-.142A.491.491 0 015 2.503zM6 4v4H5V4h1z" fill="#FFB300" fill-rule="nonzero"/></g></svg>
        </span>
        </span>
      </span>
      <div class="text-center">
        <button type="button" class="account-bottle__edit-update">Update</button>
        <div></div>
        <button type="button" class="account-bottle__edit-cancel">Cancel</button>
      </div>
    </div>

    {% comment %} diffuser replaced {% endcomment %}
    <div class="account-bottle__thank thank-you" style="display:none">

      <h3 class="account-bottle__replace-title">Thank you for updating your Diffuser</h3>
      <h4 class="account-bottle__replace-subtitle">This is your new <br>diffuser replacement date</h4>
      <div class="account-bottle__replace-date">January 6th, 2020</div>

      <div class="account-bottle__diffuser">
        <div class="account-bottle__diff-progress-wrap" aria-ignore="true">
          {% comment %} progress must be in percent, so between 0 and 100. It needs to be in steps of 5, so 5, 10, 15, 20,... that is to reduce the size of the css file - each percent has its own class {% endcomment %}
          <div class="account-bottle__diff-progress progress-circle" data-progress="50">
            <img src="{{ 'dyln-account-diffuser.png' | asset_url }}" alt="Image of DYLN diffuser" class="account-bottle__diff-image" />
          </div>
        </div>
        <div class="account-bottle__diff-content">
          <p class="account-bottle__diff-info">
            <span class="account-bottle__diff-label">Days left</span>
            <span class="account-bottle__diff-value new-day-left">00</span>
          </p>
          <p class="account-bottle__diff-info">
            <span class="account-bottle__diff-label">Refills left</span>
            <span class="account-bottle__diff-value new-refills-left">00</span>
          </p>
          <p class="account-bottle__diff-info">
            <span class="account-bottle__diff-label">Start Date</span>
            <span class="account-bottle__diff-value new-start-date">00/00/0000</span>
          </p>
        </div>
      </div>

      <div class="account-bottle__hydration good">
        <div class="account-bottle__hydro-icon-wrap">
          <div class="account-bottle__hydro-icon good">
            <svg width="49" height="61" viewBox="0 0 49 61" xmlns="http://www.w3.org/2000/svg"><g stroke="#20D480" fill="none" fill-rule="evenodd"><path d="M24.033 2.975C9.191 17.212 1.531 28.485 1.531 36.9a22.43 22.43 0 006.59 15.91 22.43 22.43 0 0015.91 6.59 22.43 22.43 0 0015.91-6.59 22.43 22.43 0 006.59-15.91c0-8.415-7.66-19.687-22.498-33.925z" stroke-width="3"/><path stroke-width="1.5" d="M14.031 36.808l7.184 9.092 13.816-20"/></g></svg>
          </div>
        </div>

        <div class="account-bottle__hydro-content" >
          <div id="new-h-level-wrap">
          <p class="account-bottle__hydro-info">
            <span class="color new-refil-per-day">3</span>
            <span>Refills per day</span>
          </p>
          <p class="account-bottle__hydro-info">
            <span class="color new-refil-per-week">7</span>
            <span>Days per week</span>
          </p>
          <div class="account-bottle__hydro-status bg-color new-h-level">Super Hydration!</div>
          </div>  
        </div>
      </div>

      <div class="account-bottle__replace-question">Need to update your usage or starting date?</div>
      <div class="account-bottle__replace-buttons">
        <button type="button" class="go-update">Update</button>
        <button type="button" class="reload-exit">Thanks, I'm good</button>
      </div>

      <div class="account-bottle__replace-footer">
        <div class="account-bottle__replace-shop-txt">Need more Diffusers?</div>
        <button class="account-bottle__replace-shop-btn">Shop</button>
      </div>
    </div>
  </div>
</div> 
