<div class="header-cart" data-cart-drawer>
  <div class="header-cart__overlay" data-cart-drawer-toggle></div>

  <div class="header-cart__wrap">
    <div class="header-cart__header" data-c-d-header>
      <button type="button" class="header-cart__close" data-cart-drawer-toggle>{%- render 'icon-chevron-l' -%}</button>
      <h4 class="header-cart__title">{{ 'cart.general.your_cart' | t }}</h4>
      <a href="/cart" class="header-cart__cart">
        <span class="icon-fallback-text hide">{{ 'layout.cart.title' | t }}</span>
        <span class="header-cart__cart-num" data-cart-drawer-count>
          {{ cart.item_count }}
        </span>
        <span class="header-cart__cart-icon">
          {% render 'icon-cart' %}
        </span>
      </a>
    </div>

    <div class="header-cart__body" data-c-d-body>
      {% assign price_100 = cart.total_price | divided_by: 100 %}
      {% assign ship_remaining = settings.shipping_threshold | minus: price_100 | times: 100 | money_without_trailing_zeros %}

      <div class="header-cart__shipping-bar" data-cart-shipping-note>
      {% if cart.item_count == 0 %}
        {{ 'cart.shipping.free_shipping_empty_html' | t: price: settings.shipping_threshold }}
      {% elsif price_100 >= settings.shipping_threshold %}
        {{ 'cart.shipping.free_shipping_reached_html' | t }}
      {% else %}
        {{ 'cart.shipping.free_shipping_unreached_html' | t: price: ship_remaining }}
      {% endif %}
      </div>

      <div class="header-cart__empty-cart" {% unless cart.item_count == 0 %}style="display:none;"{% endunless %} data-cart-drawer-empty>
        <p class="header-cart__empty-note">{{ 'cart.general.empty' | t }}</p>

        <a href="" class="header-cart__empty-block">
          <span class="header-cart__empty-title">{{ 'cart.general.shop_bottle' | t }}</span>
          <span class="header-cart__empty-image">
            <img
              class="header-login__bottle-img"
              src="{{ 'dyln-cart-sport-cap.png' | asset_url }}"
              alt="{{ 'cart.general.shop_bottle' | t }}" />
          </span>
        </a>

        <a href="" class="header-cart__empty-block">
          <span class="header-cart__empty-title">{{ 'cart.general.shop_accessories' | t }}</span>
          <span class="header-cart__empty-image">
            <img
              class="header-login__bottle-img"
              src="{{ 'dyln-cart-water-bottle.png' | asset_url }}"
              alt="{{ 'cart.general.shop_accessories' | t }}" />
          </span>
        </a>

        <a href="" class="header-cart__empty-block">
          <span class="header-cart__empty-title">{{ 'cart.general.become_member' | t }}</span>
          <span class="header-cart__empty-image">
            {% render 'logo-icon' %}
          </span>
        </a>

        <a href="" class="header-cart__empty-block">
          <span class="header-cart__empty-title">{{ 'cart.general.learn_more' | t }}</span>
          <span class="header-cart__empty-image">
            {% render 'icon-ph' %}
          </span>
        </a>
      </div>

      <div
        class="cart-drawer"
        data-cart-drawer-content
        data-loader
        {% if cart.item_count == 0 %}style="display:none;"{% endif %}>
      </div>
    </div>
  </div>
</div>
