<div class="header-cart" data-cart-drawer>
  <div class="header-cart__overlay" data-cart-drawer-toggle></div>

  <div class="header-cart__wrap">
    <div class="header-cart__header" data-c-d-header>
      <button type="button" class="header-cart__close" data-cart-drawer-toggle data-cart-drawer-focus-in tabindex="-1">
        <span class="visually-hidden">{{ 'general.accessibility.close_cart' | t }}</span>
        <span aria-hidden="true">{%- render 'icon-chevron-l' -%}</span>
      </button>
      <h4 class="header-cart__title">{{ 'cart.general.your_cart' | t }}</h4>
      <span class="header-cart__cart">
        <span class="icon-fallback-text hide">{{ 'layout.cart.title' | t }}</span>
        <span class="header-cart__cart-num" data-cart-drawer-count>
          {{ cart.item_count }}
        </span>
        <span class="header-cart__cart-icon">
          {% render 'icon-cart' %}
        </span>
      </span>
    </div>

    <div class="header-cart__body" data-c-d-body>
      {% assign price_100 = cart.total_price | divided_by: 100 %}
      {% assign ship_remaining = settings.shipping_threshold | minus: price_100 | times: 100 | money_without_trailing_zeros %}

      <div class="header-cart__shipping-bar" data-cart-shipping-note>
      {% if cart.item_count == 0 %}
        {{ 'cart.shipping.free_shipping_empty_html' | t: price: settings.shipping_threshold }}
      {% elsif price_100 >= settings.shipping_threshold %}
        {{ 'cart.shipping.free_shipping_reached_html' | t }}
      {% else %}
        {{ 'cart.shipping.free_shipping_unreached_html' | t: price: ship_remaining }}
      {% endif %}
      </div>

      <div class="header-cart__empty-cart" {% unless cart.item_count == 0 %}style="display:none;"{% endunless %} data-cart-drawer-empty>
        {% if settings.empty_cart_title %}
          <h6 class="header-cart__empty-note">{{ settings.empty_cart_title }}</h6>
          {% else %}
          <h6 class="header-cart__empty-note">{{ 'cart.general.empty' | t }}</h6>
        {% endif %}

        {% for i in (1..4) %}
          {% assign link_string = "empty_cart_link_" | append: i %}
          {% assign link_text_string = "empty_cart_link_text_" | append: i %}
          {% assign image_string = "empty_cart_image_" | append: i %}

          {% render 'empty-cart-link' with
            e_c_l_link: settings[link_string],
            e_c_l_link_text: settings[link_text_string],
            e_c_l_image: settings[image_string],
          %}
        {% endfor %}
      </div>

      {% comment %} cart content, loaded with ajax {% endcomment %}
      <div
        class="cart-drawer"
        data-cart-drawer-content
        data-loader
        {% if cart.item_count == 0 %}style="display:none;"{% endif %}>
      </div>
      <button type="button" class="visually-hidden skip-link" data-cart-drawer-toggle tabindex="-1">{{ 'general.accessibility.close_cart' | t }}</button>
    </div>
  </div>
</div>
