<a class="header-search__main-link" href="#" data-header-link="6">
  {% render 'icon-search' %}
</a>

<div class="header-search" data-header-block="6">
  <div class="header-search__body">
    <div class="container">
      <form action="/search" method="get" role="search" class="header-search__form">
        <label for="Search-{{ section_id }}" class="label-hidden">
          {{ 'general.search.placeholder' | t }}
        </label>

        <input type="search"
          class="header-search__input"
          name="q"
          id="Search-{{ section_id }}"
          value="{{ search.terms | escape }}"
          placeholder="{{ 'general.search.placeholder' | t }}"
          data-header-search-input
          {% if enable_ajax %}data-header-search-input-ajax{% endif %}
        />

        <button type="submit" class="header-search__submit">
          <span class="icon-fallback-text hide">{{ 'general.search.submit' | t }}</span>
          {% render 'icon-search' %}
        </button>
      </form>

      {% if enable_ajax %}
        <div class="header-search__results" data-header-search-results></div>
      {% endif %}

      {% if manual_popular %}
        <div class="header-search__popular">
          {% if popular_title != empty %}
            <h6 class="header-search__pop-title">{{ popular_title }}</h6>
          {% endif %}
          <div class="header-search__pop-terms">
            {%- assign pop_terms = popular_terms | split: ',' -%}
            {% for pop_term in pop_terms %}
              <button type="button" class="header-search__pop_term" data-popular-term{% if enable_ajax %} data-popular-term-ajax{% endif %} >{{ pop_term }}</button>
            {% endfor %}
          </div>
        </div>
      {% endif %}

      <div class="header-search__close">
        <button type="button" class="header-search__close-btn" data-header-block-close>
          {% render 'icon-chevron-up' %}
        </button>
      </div>
    </div>
  </div>

  <div class="header-search__overlay"></div>

</div>