<div id="newsletterModal" class="newsletter-flyout template-{{ template.name | handle }}" data-newsletter-modal>
  <h2>{{ 'blogs.newsletter.title' | t }}</h2>
    <div class="email-signup">
      <form novalidate="" target="_blank" method="GET" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" action="//manage.kmail-lists.com/subscriptions/subscribe" class=" klaviyo_standard_embed_e9NMuf" id="email_signup">
        <span class="klaviyo_field_group">
          <label for="newsletterEmail">{{ 'blogs.newsletter.email_placeholder' | t }}</label>
          <input value="e9NMuf" name="g" type="hidden">
          <input placeholder="" id="k_id_email" name="email" type="email">
          <button class="newsletter__submit klaviyo_submit_button btn" type="submit" name="commit" id="NewsletterSubscribe">
            {{ 'blogs.newsletter.submit' | t }}
          </button>
          </span>
      </form>

      <div class="klaviyo_messages">
        <div style="display:none;" class="success_message"></div>
        <div style="display:none;" class="error_message"></div>
      </div>
    </div>
</div>
<div class="newsletter-flyout-opener" data-newsletter-open-btn>
  <p>{{ 'blogs.newsletter.submit_flyout' | t }}</p>
</div>


