{% assign related_p = related-product-item %}
{% assign related_p_img = "" %}

{%- assign related_p_variant = related_p.selected_or_first_available_variant -%}
{%- assign related_p_image = related_p_variant.featured_image | default: related_p.featured_image -%}

<div class="related-product__wrap">
  <a class="related-product" href="{{ related_p.url }}">

    <span class="related-product__img-link">
      {% render 'responsive-image' with
        image: related_p_image,
        max_width: 220,
        max_height: 220,
        wrapper_class: "related-product__img-wrap",
        image_class: "related-product__img",
        span: true
      %}
    </span>

    <h3 class="related-product__title">
      {{ related_p.title }}
    </h3>

    {% if related_p.metafields.info.related_description != blank %}
      <span class="related-product__content">
        {{ related_p.metafields.info.related_description | strip_html | truncatewords: 10, '...'  }}
      </span>
    {% endif %}

    <span class="related-product__price">

      <span>
        {{ related_p_variant.price | money }}
      </span>

      {% if related_p.compare_at_price_max > related_p.price %}
        <s>
          {% if related_p_variant.compare_at_price > related_p_variant.price %}
            {{ related_p_variant.compare_at_price | money }}
          {% endif %}
        </s>
      {% endif %}
    </span>
  </a>
</div>
