<div class="account-edit reset-password-pop popup" style="display:none;">
  <div class="account-edit__overlay"></div>
  <div class="account-edit__inner">
    <button type="button" class="account-bottle__close pop-close">
      <span class="visually-hidden">Close modal</span>
      <span aria-ignore="true">
        <svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><g stroke="#00AEDB" stroke-width="2" fill="none" fill-rule="evenodd"><path d="M1.333 1.333L11 11M10.667 1.333L1 11"/></g></svg>
      </span>
    </button>

    <div class="account-edit-option__body reset-form-wrap">
      <form action="">
        <h3 class="registration-modal__title text-center profile-bg" style="background-image:url('{{ 'proiflie-image-1.jpg' | asset_url }}');">{{ 'customer.reset_password.title' | t }} <div class="account-header__wave"></div></h3>
        <p class="login-page__subtext">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

        {{ form.errors | default_errors }}
       <div id="reset-wrap">
       <div class="input-wrap">
        <label for="ResetPassword" class="label-hidden">
          {{ 'customer.reset_password.password' | t }}
        </label>
        <input type="password"
          name="password"
          id="ResetPassword"
          autocomplete="off"
          class="login-page__input{% if form.errors contains 'password' %} input-error{% endif %}"
          placeholder="{{ 'customer.reset_password.password' | t }}">

        <label for="PasswordConfirmation" class="label-hidden">
          {{ 'customer.reset_password.password_confirm' | t }}
        </label>
        <input type="password"
          name="password_confirmation"
          id="PasswordConfirmation"
          autocomplete="off"
          class="login-page__input{% if form.errors contains 'password_confirmation' %} input-error{% endif %}"
          placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
      </div>
        <div class="text-center">
          <button type="button" id="reset-pass-btn" class="registration-modal__btn">{{ 'customer.reset_password.submit' | t }}</button>
          <!-- <input type="submit" class="login-page__submit" value="{{ 'customer.reset_password.submit' | t }}" /> -->
        </div>
        </div>
      </form>
  </div>
</div>
</div>
