{% assign e_product = all_products[subscription-form] %}
{%- assign e_current_variant = e_product.selected_or_first_available_variant -%}

{% if e_product and e_product.metafields.subscriptions.has_subscription == "True" %}
  {% assign sub_variants_map = e_product.metafields.subscriptions.original_to_hidden_variant_map %}
  {% assign interval_frequencies = e_product.metafields.subscriptions.shipping_interval_frequency | split: ',' %}
  {% assign interval_unit_type = e_product.metafields.subscriptions.shipping_interval_unit_type %}
  {% assign e_current_id = e_current_variant.id | json %}
  {% assign e_current_sub_price = sub_variants_map[e_current_id].discount_variant_price %}

  {% unless sub_only %}
    {% if title %}
      {% render 'subscription-title' with title, note: note %}
    {% endif %}
  {% endunless %}

  {% form 'product', e_product, data-product-form: '', data-product-handle: e_product.handle, data-enable-history-state: 'true', class: "pdp-form__form"%}
    <input name="subscription_variant_map" value={{ sub_variants_map | json }} type="hidden" data-subscription-variant-map />

    {% unless sub_only %}
      <div class="pdp-form__price pdp-form__price--sub" data-subscription-regular-price data-subscription-loaded>
        {{ e_current_variant.price | money }}
      </div>
    {% endunless %}

    {% unless e_product.has_only_default_variant %}
      <div class="diffusers__variants {% if sub_only %} standalone{% endif %}">
        {% if show_extras %}
          <h4 class="diffusers__label"><strong>{{ 'products.subscription.change_amount' | t }}</strong></h4>
        {% endif %}
        {% for e_var in e_product.variants %}
          {% assign e_var_title = e_var.title %}
          {% if e_var.title == "1 Diffuser" %}
            {% assign e_var_title = "Single Pack" %}
          {% elsif e_var.title contains "Diffusers" %}
            {% assign e_var_title = e_var.title | replace: ' Diffusers', '-Pack'%}
          {% endif %}
          <div class="diffusers__variant" id="pdp-diffuser-variant-id-wrap">
            <input class="diffusers__input" id="option-extra-{{ forloop.index }}" type="radio" name="id" value="{{ e_var.id }}" data-price={{ e_var.price | money }} {% if forloop.first %} checked="checked"{% endif %}/>
            <label class="diffusers__label {% if sub_only %} standalone{% endif %}" for="option-extra-{{ forloop.index }}">{{ e_var_title }}</label>
          </div>
        {% endfor %}
      </div>
    {% endunless %}

    <input type="hidden" name="quantity" value="1" />

    {% unless sub_only %}
      <div class="diffusers__btn-wrap" data-subscription-button-block>
        <button
          id="pdp-diffuser-add-regular"
          class="diffusers__regular-btn"
          type="button">
          <span class="diffusers__regular-price" data-subscription-regular-price data-subscription-loaded>{{ e_current_variant.price | money }}</span>
          <span class="diffusers__regular-text" data-subscription-loaded>{{ 'products.product.add_to_cart' | t }}</span>
          <span data-subscription-loading class="loading-dots hide"></span>
        </button>

        <button type="button" class="diffusers__sub-btn" data-subscription-toggle>
          <span class="diffusers__sub-price" data-subscription-current-price>
            {{ cart.currency.symbol }}{{ e_current_sub_price }}
          </span>
          <span class="diffusers__sub-btn-text">{{ 'products.subscription.subscribe' | t }}</span>
          <span class="diffusers__sub-btn-freq" data-subscription-current-frequency>
            {% render 'subscription-frequency' with interval_frequencies[0] as frequency, interval: interval_unit_type %}
          </span>
        </button>

        <button
          type="button"
          class="diffuser-modal__subs-button-open"
          data-diffuser-sub-modal-open
          data-diffuser-sub-modal-focusout>{% render 'icon-info' %}</button>
      </div>
    {% endunless %}

    {% if sub_only %}
    <div class="diffusers__btn-wrap">
    {% else %}
    <div class="diffusers__btn-wrap hide" data-subscription-button-block>
    {% endif %}
      <button
        id="pdp-diffuser-add-subscription"
        class="diffusers__regular-btn"
        type="button">
        <span class="diffusers__regular-price" data-subscription-current-price data-subscription-loaded>
          {{ cart.currency.symbol }}{{ e_current_sub_price }}
        </span>
        <span class="diffusers__regular-text" data-subscription-loaded>
          {{ 'products.subscription.subscribe' | t }}
        </span>
        <span data-subscription-loading class="loading-dots hide"></span>
      </button>

      <div class="diffusers__sub-btn{% if sub_only %} standalone{% endif %}">
        <select name="shipping_interval_frequency" id="pdp-diffuser-freq-select" data-custom>
          {% for i_frequency in interval_frequencies %}
            <option value="{{ i_frequency }}">
              {% render 'subscription-frequency' with i_frequency as frequency, interval: interval_unit_type %}
            </option>
          {% endfor %}
        </select>
        <div class="no-pointer">
          <label for="pdp-diffuser-freq-select" data-subscription-custom-label>{{ 'products.subscription.change_frequency' | t }}</label>
        </div>
      </div>

      {% unless sub_only %}
        {% render 'subscription-usps' %}

        <button type="button" class="diffusers__sub-back" data-subscription-toggle>
          <span aria-ignore="true"><</span>&nbsp;<span>{{ 'products.subscription.back_to_one_time' | t }}</span>
        </button>
      {% endunless %}

    {% if sub_only %}
    </div>
    {% else %}
    </div>
    {% endif %}

    <input name="shipping_interval_unit_type" value="{{ interval_unit_type }}" type="hidden" />
    <input value="{{ cart.currency.symbol }}" type="hidden" data-subscription-currency-symbol />

    {% if show_extras %}
      {% comment %} <!-- Insert QuadPay Widget --> {% endcomment %}
      <div style="margin: 0 0 10px 0; min-height:20px;">
        <quadpay-widget amount={{ current_variant.price }} ></quadpay-widget>
      </div>
    {% endif %}
  {% endform %}
{% endif %}
