{% section 'customer-account-header' %}
{% for tag in customer.tags %}
{% if tag == 'Active Subscriber' or 'Subscription card declined' or 'Inactive Subscriber' %}{% assign is_subscription_customer = true %}{% break %}{% endif %}
{% endfor %}

<div class="container account-container">
  <div class="row">
    <div class="col-xl-2 col-lg-3 order-2 order-lg-1">
    {% render 'customer-account-sidebar' %}
    </div>
    <div class="col-xl-8 col-lg-9 order-1 order-lg-2">
      <div class="account-body">
        {% comment %} open class only has an effect on mobile {% endcomment %}
        <div class="account-body__header-tabs">
          <button type="button" class="account-body__header-tab active" tab-body="account-dash">
            Dashboard
            <span class="account-body__header-dash"></span>
          </button>
          <button type="button" class="account-body__header-tab" tab-body="account-points">
            My DYLN Points
            <span class="account-body__header-dash"></span>
          </button>
          <button type="button" class="account-body__header-tab" tab-body="account-orders">
            Orders
            <span class="account-body__header-dash"></span>
          </button>
          <button type="button" class="account-body__header-tab" tab-body="account-bottles">
            My Bottles
            <span class="account-body__header-dash"></span>
          </button>
          {% if is_subscription_customer %}
          <a class="account-body__header-tab" href="/tools/recurring/login/">My Subscriptions<span class="account-body__header-dash"></span></a>
          {% endif %}
          <button type="button" class="account-body__header-tab" tab-body="account-profile">
            Profile
            <span class="account-body__header-dash"></span>
          </button>
        </div>

        <div class="account-body__tabs">

          <div class="body-tab account-dash active-tab">
            <div class="row">
              <div class="col-md-6">
                {% comment %} Show this in different position on mobile{% endcomment %}
                <div class="account-dash__refer-wrap d-md-none">
                  <button type="button" class="account-dash__refer-btn">
                    <span class="account-dash__refer-btn-text">Refer a Friend</span>
                    <span class="account-dash__refer-btn-icon" aria-ignore="true">
                      <svg width="12" height="15" viewBox="0 0 12 15" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M6 1.04C2.574 4.366.75 7.003.75 9c0 1.45.588 2.762 1.538 3.712A5.234 5.234 0 006 14.25c1.45 0 2.762-.588 3.712-1.538A5.234 5.234 0 0011.25 9c0-1.997-1.824-4.634-5.25-7.96z" stroke="#FFF" stroke-width="1.5"/><path fill="#FFF" d="M6 10.5l-1.763.927.336-1.963-1.426-1.391 1.971-.287L6 6l.882 1.786 1.971.287-1.426 1.391.336 1.963z"/></g></svg>
                    </span>
                    <span class="account-dash__refer-btn-num">150</span>
                  </button>
                  <div></div>
                  <a href="#" class="account-dash__refer-link">Earn or Redeem points</a>
                </div>

                <div class="account-dash__bottles">
                  <input type="hidden" id="btl-names" >
                  <h3 class="account-dash__title">
                    <span class="account-dash__title-txt">My Bottles</span>
                    <button type="button" class="account-dash__title-button tab-button" tab-body="account-bottles">See All</button>
                  </h3>
          <div id="custommer-bottles-short">

                  <div class="account-dash__bottle" style="display:none">
                    <div class="account-dash__bottle-wrap" aria-ignore="true">
                      {% comment %} progress must be in percent, so between 0 and 100. It needs to be in steps of 5, so 5, 10, 15, 20,... that is to reduce the size of the css file - each percent has its own class {% endcomment %}
                      <div class="account-dash__bottle-progress progress-circle" data-progress="40">
                        <img src="{{ 'dyln-account-bottle-pearl.png' | asset_url }}" alt="Image of DYLN water Bottle" class="account-dash__bottle-img" />
                      </div>
                      <div class="account-dash__bottle-content">
                        <h4 class="account-dash__bottle-title">Bottle #1</h4>
                        <p class="account-dash__bottle-timer"><span>60</span> days left on Diffuser</p>
                      </div>
                      <button type="button" class="account-dash__bottle-more">
                        <span class="visually-hidden">More options</span>
                      </button>
                    </div>
                  </div>

                  </div>

                  <div class="account-dash__bottle-btn-wrap">
                    <button type="button" class="account-dash__bottle-btn btn-action-register-bottle">
                      <span class="account-dash__bottle-btn-icon" aria-ignore="true">
                        <svg width="18" height="17" viewBox="0 0 18 17" xmlns="http://www.w3.org/2000/svg"><g transform="translate(1 1)" stroke="#FFF" stroke-width="2" fill="none" fill-rule="evenodd"><circle cx="8.25" cy="7.5" r="7.5"/><path stroke-linecap="round" d="M8.25 4.5v6M11.25 7.5h-6"/></g></svg>
                      </span>
                      <span class="account-dash__bottle-btn-text">Register New Bottle</span>
                    </button>
                  </div>
                </div>

                <div class="account-dash__subs">
                  <h3 class="account-dash__title">
                    <span class="account-dash__title-txt">My Subscriptions</span>
                    <button type="button" class="account-dash__title-button tab-button" tab-body="account-subscriptions">See All</button>
                  </h3>

                  <div data-account-page-subs>
                    <div class="account-dash__bottle no-bottles">
                      <h4>You have no subscriptions</h4>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="account-dash__refer-wrap d-none d-md-block">
                  <button type="button" class="account-dash__refer-btn">
                    <span class="account-dash__refer-btn-text">Refer a Friend</span>
                    <span class="account-dash__refer-btn-icon" aria-ignore="true">
                      <svg width="12" height="15" viewBox="0 0 12 15" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M6 1.04C2.574 4.366.75 7.003.75 9c0 1.45.588 2.762 1.538 3.712A5.234 5.234 0 006 14.25c1.45 0 2.762-.588 3.712-1.538A5.234 5.234 0 0011.25 9c0-1.997-1.824-4.634-5.25-7.96z" stroke="#FFF" stroke-width="1.5"/><path fill="#FFF" d="M6 10.5l-1.763.927.336-1.963-1.426-1.391 1.971-.287L6 6l.882 1.786 1.971.287-1.426 1.391.336 1.963z"/></g></svg>
                    </span>
                    <span class="account-dash__refer-btn-num">150</span>
                  </button>
                  <div></div>
                  <a href="#" class="account-dash__refer-link">Earn or Redeem points</a>
                </div>

                <h3 class="account-dash__title">
                  <span class="account-dash__title-txt">My Orders</span>
                  <a href="" class="account-dash__title-button tab-button" tab-body="account-orders">Order History</a>
                </h3>
                {% if customer.orders_count > 0 %}
                {% assign count_order = 0 %}
                {% for order in customer.orders %}
                {% assign count_order = count_order | plus: 1 %}
                {% if count_order <= 3 %}
                {%- assign created_at = order.created_at | date: "%B %d, %Y %I:%M%p" -%}
                <div class="account-dash__order">
                  <a href="" class="account-dash__order-number tab-button" tab-body="account-orders">Order No. {{ order.name }}</a>
                  <p class="account-dash__order-date">Placed on {{ created_at}}</p>
                </div>
                {% endif %}
                {% endfor %}
                {% else %}
                <div class="account-dash__order">
                  <a href="#" class="account-dash__order-number">No Order Found</a>
                </div>
                {% endif %}
              </div>

            </div>
          </div>
          {% comment %} dashboard end {% endcomment %}

          <div class="body-tab account-points">
            {% comment %} Whole section will come from an external source {% endcomment %}
            <div id="stamped-rewards-widget" data-widget-type="rewards-referral-modal" data-customer-email="{{ customer.email }}" data-customer-first-name="{{ customer.first_name }}" data-style-color-background="#ffffff" data-style-color-button="#20d480" data-style-color-link="#00aedb"></div> 
            <div id="stamped-rewards-widget" data-widget-type="rewards-summary" ></div>
            <div id="stamped-rewards-widget" data-widget-type="rewards-how-it-works" ></div>
            <div id="stamped-rewards-widget" data-widget-type="rewards-earnings" ></div>
            <div id="stamped-rewards-widget" data-widget-type="rewards-spendings" ></div>
            <div id="stamped-rewards-widget" data-widget-type="rewards-referral" ></div>
          </div>
          {% render 'account-orders-tab' %}
          {% render 'customer-bottles-tab' %}
          {% render 'customer-profile-tab' %}
        </div>
        <!-- popups will be here -->
        <div id="popup-continer">
          <div class="all-pop-close">
          <button type="button" class="account-bottle__close">
            <span class="visually-hidden">Close modal</span>
            <span aria-ignore="true">
              <svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><g stroke="#00AEDB" stroke-width="2" fill="none" fill-rule="evenodd"><path d="M1.333 1.333L11 11M10.667 1.333L1 11"/></g></svg>
            </span>
          </button>
          </div>
          {% comment %} Register bottle {% endcomment %}
          {% render 'register-bottle-popup' %}
          {% comment %} Edit Customer Profile {% endcomment %}
          {% render 'edit-profile-popup' %}
          {% render 'edit-profile-contact-popup' %}
          {% render 'reset-password-popup' %}
          {% comment %} Custom styling for the profile body input{% endcomment %}
          {% comment %} Bottle modal {% endcomment %}
          {% render 'edit-bottle-popup' %}
          {% include 'address-form' %}
        </div> <!-- end popup wrap -->
      </div>
    </div>
  </div>
</div>

<div class="account-edit-option" style="display:none;">
  <div class="account-edit-option__overlay"></div>
  <div class="account-edit-option__inner">
    <div class="account-edit-option__body">
      <div class="account-edit-option_wrap">
    <div id="body-weight" class="swiper-container" style="display:none">
          <div class="swiper-wrapper">
          {% for i in (20..300) %}
            <div class="swiper-slide" data-val="{{i}}">{{i}}</div>
          {% endfor %}
          </div>
        </div>
        <div class="swiper-container" id="body-height" style="display:none">
          <div class="swiper-wrapper">
          {% for i in (3..7) %}
            {% for j in (0..11) %}
              <div class="swiper-slide" data-val="{{i}}-{{j}}">{{i}}'{{j}}"</div>
            {% endfor %}
          {% endfor %}
          </div>
        </div>
        <span class="account-edit-option__label lab-weight" style="display:none">
          <button class="active" type="button">Kg</button>&nbsp;
          <span>|</span>&nbsp;
          <button type="button">Lb</button>
        </span>
        <span class="account-edit-option__label lab-height" style="display:none">
          <button class="active" type="button">Feet</button>
        </span>
      </div>
      <button type="button" class="account-edit-option__btn">Done</button>
      <div></div>
      <button type="button" class="account-edit-option__cancel">Cancel</button>
    </div>
  </div>
</div>

{% comment %} Choose profile image modal {% endcomment %}
<div class="image-edit popup" style="display:none;">
  <div class="image-edit__overlay"></div>
  <div class="image-edit__inner">
    <button type="button" class="image-edit__close pop-close">
      <span class="visually-hidden">Close modal</span>
      <span aria-ignore="true">
        <svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><g stroke="#00AEDB" stroke-width="2" fill="none" fill-rule="evenodd"><path d="M1.333 1.333L11 11M10.667 1.333L1 11"/></g></svg>
      </span>
    </button>

    <h4 class="registration-modal__title">Choose a New Profile Image</h4>
    <form id="profile-image-update">
    <input type="hidden" name="c_id" value="{{ customer.id }}" />
    <div class="clearfix">
      <div class="account-edit__image-checkbox-wrap">
        <label class="account-edit__image-label" for="profile-background-1">Hi {{ customer.first_name }}!</label>
        <input type="radio"
          id="profile-image-1"
          name="profile_image"
          value="image-1"
          checked="checked"
          class="account-edit__image-radio"
          style="background-image:url({{ 'proiflie-image-1.jpg' | asset_img_url: '200x' }})"/>
      </div>

      <div class="account-edit__image-checkbox-wrap">
        <label class="account-edit__image-label" for="profile-background-2">Hi {{ customer.first_name }}!</label>
        <input type="radio"
          id="profile-image-2"
          name="profile_image"
          value="image-2"
          class="account-edit__image-radio"
          style="background-image:url({{ 'proiflie-image-2.jpg' | asset_img_url: '200x' }})"/>
      </div>

      <div class="account-edit__image-checkbox-wrap">
        <label class="account-edit__image-label" for="profile-background-3">Hi {{ customer.first_name }}!</label>
        <input type="radio"
          id="profile-image-3"
          name="profile_image"
          value="image-3"
          class="account-edit__image-radio"
          style="background-image:url({{ 'proiflie-image-3.jpg' | asset_img_url: '200x' }})"/>
      </div>

      <div class="account-edit__image-checkbox-wrap">
        <label class="account-edit__image-label" for="profile-background-4">Hi {{ customer.first_name }}!</label>
        <input type="radio"
          id="profile-image-4"
          name="profile_image"
          value="image-4"
          class="account-edit__image-radio"
          style="background-image:url({{ 'proiflie-image-4.jpg' | asset_img_url: '200x' }})"/>
      </div>

      <div class="account-edit__image-checkbox-wrap">
        <label class="account-edit__image-label" for="profile-background-5">Hi {{ customer.first_name }}!</label>
        <input type="radio"
          id="profile-image-5"
          name="profile_image"
          value="image-5"
          class="account-edit__image-radio"
          style="background-image:url({{ 'proiflie-image-5.jpg' | asset_img_url: '200x' }})"/>
      </div>

      <div class="account-edit__image-checkbox-wrap">
        <label class="account-edit__image-label" for="profile-background-6">Hi {{ customer.first_name }}!</label>
        <input type="radio"
          id="profile-image-6"
          name="profile_image"
          value="image-6"
          class="account-edit__image-radio"
          style="background-image:url({{ 'proiflie-image-6.jpg' | asset_img_url: '200x' }})"/>
      </div>

      <div class="account-edit__image-checkbox-wrap">
        <label class="account-edit__image-label" for="profile-background-7">Hi {{ customer.first_name }}!</label>
        <input type="radio"
          id="profile-image-7"
          name="profile_image"
          value="image-7"
          class="account-edit__image-radio"
          style="background-image:url({{ 'proiflie-image-7.jpg' | asset_img_url: '200x' }})"/>
      </div>

      <div class="account-edit__image-checkbox-wrap">
        <label class="account-edit__image-label" for="profile-background-8">Hi {{ customer.first_name }}!</label>
        <input type="radio"
          id="profile-image-8"
          name="profile_image"
          value="image-8"
          class="account-edit__image-radio"
          style="background-image:url({{ 'proiflie-image-8.jpg' | asset_img_url: '200x' }})"/>
      </div>
    </div>

    <div class="registration-modal__navigation">
      <button type="button" id="update-profile-pic" class="registration-modal__btn-wire-alt">Update</button>
    </div>
    </form>
  </div>
</div>
<!-- Script -->
{% render 'mydyln-script' %}
