<div class="p-404__outer">

  {%- if section.settings.background -%}
    {%- assign wrapper_class = "p-404__bg-wrap" -%}

    {%- if section.settings.background_rsp -%}
      {%- assign wrapper_class = "p-404__bg-wrap d-none d-md-block" -%}
      {%- render 'responsive-image' with
        image: section.settings.background_rsp,
        max_width: 768,
        max_height: 768,
        wrapper_class: "p-404__bg-wrap d-md-none",
        image_class: "p-404__bg",
      -%}
    {%- endif -%}

    {%- render 'responsive-image' with
      image: section.settings.background,
      max_width: 1600,
      max_height: 720,
      wrapper_class: wrapper_class,
      image_class: "p-404__bg",
    -%}
  {%- endif -%}


  <div class="p-404__content-wrap{% unless section.settings.background %} static dark{% endunless %}">
    <div class="container p-404__container">
      <div class="row p-404__row">
        <div class="col-md-1"></div>
        {% assign content_col_class = "col-md-10 d-flex" %}
        {% if section.settings.background %}
          {% assign content_col_class = "col-md-5 d-flex" %}
        {% endif %}
        <div class="{{ content_col_class }}">
          <div class="p-404__content">

            {%- if section.settings.title != blank -%}
              <h1 class="p-404__title">{{- section.settings.title -}}</h1>
            {%- else -%}
              <h1 class="p-404__title">{{ 'general.404.title' | t }}</h1>
            {%- endif -%}

            {%- if section.settings.title != blank -%}
              <p class="p-404__subtitle">{{- section.settings.subtitle -}}</p>
            {%- else -%}
              <p class="p-404__subtitle">{{ 'general.404.subtitle' | t }}</p>
            {%- endif -%}

            {%- if section.settings.title != blank -%}
              <p class="p-404__message">{{- section.settings.message -}}</p>
            {%- else -%}
              <p class="p-404__message">{{ 'general.404.message' | t }}</p>
            {%- endif -%}

            <div class="p-404__link-wrap">
              {%- if section.settings.link_text_1 != blank -%}
                <a class="p-404__link" href="{{- section.settings.link_url_1 -}}">{{- section.settings.link_text_1 -}}</a>
              {%- endif -%}
              {%- if section.settings.link_text_2 != blank -%}
                <a class="p-404__link" href="{{- section.settings.link_url_2 -}}">{{- section.settings.link_text_2 -}}</a>
              {%- endif -%}
            </div>

            {%- if section.settings.bottom_text -%}
              <a class="p-404__btm-link" href="{{- section.settings.bottom_url -}}">{{- section.settings.bottom_text -}}</a>
            {%- endif -%}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-404__wave-wrap">
  <svg class="p-404__wave" width="1600" height="81" viewBox="0 0 1600 81" xmlns="http://www.w3.org/2000/svg">
    <path d="M-1 0c75.092 0 537.706 31.863 834.545 31.863 293.692 0 548.351-28.4 766.819-29.002-.129 2.974-.193 29.02-.193 78.139H-1V0z" fill="#FFF" fill-rule="evenodd"/>
  </svg>
</div>

{% schema %}
  {
    "name": "404",
    "class": "p-404",
    "settings": [
      {
        "type": "image_picker",
        "id": "background",
        "label": "Background",
        "info": "1600x720"
      },
      {
        "type": "image_picker",
        "id": "background_rsp",
        "label": "Background Mobile",
        "info": "768x768"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "info": "Optional"
      },
      {
        "type": "textarea",
        "id": "subtitle",
        "label": "Subtitle",
        "info": "Optional"
      },
      {
        "type": "textarea",
        "id": "message",
        "label": "Message",
        "info": "Optional"
      },
      {
        "type": "url",
        "id": "link_url_1",
        "label": "Link 1"
      },
      {
        "type": "text",
        "id": "link_text_1",
        "label": "Link Text 1"
      },
      {
        "type": "url",
        "id": "link_url_2",
        "label": "Link 2"
      },
      {
        "type": "text",
        "id": "link_text_2",
        "label": "Link Text 2"
      },
      {
        "type": "url",
        "id": "bottom_url",
        "label": "Bottom Link"
      },
      {
        "type": "text",
        "id": "bottom_text",
        "label": "Bottom Link Text"
      }
    ]
  }
{% endschema %}
