{% assign article = articles[section.settings.featured_article] %}
{% if article %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 col-lg-8">
      <div class="blog-featured__article article-card article-card--lg">
        <a href="{{ article.url }}"></a>

        {%- render 'responsive-image' with
          image: article.image.src,
          max_width: 1024,
          max_height: 1024,
          wrapper_class: "article-card__thumbnail-wrapper",
          image_class: "article-card__thumbnail"
        -%}

        <div class="article-card__content">
          {% for tag in article.tags %}
            <a href="{{ blog.url }}/tagged/{{ tag | handle }}?view=tagged" class="article-card__category">{{ tag }}</a>
          {% endfor %}
          <h3>{{- article.title -}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% schema %}
{
  "name": "Blog Featured",
  "class": "blog-featured",
  "settings": [
    {
    "type": "article",
    "id": "featured_article",
    "label": "Article to feature on Blog page"
    }
  ]
}
{% endschema %}
