{% if section.settings.show %}
  <div class="container">
    <div class="row justify-content-center">
      {% if section.settings.title != blank %}
        <h2>{{ section.settings.title }}</h2>
      {% endif %}
    </div>
  </div>

  <div class="container-fluid d-flex flex-column">
    <div class="blog-video-wrapper slider" data-blog-vlog>
      {% assign b_size = 0 %}
      {% for block in section.blocks %}
        {% assign article = articles[block.settings.vlog_articles] %}
        {% assign b_size = b_size | plus: 1 %}
        <div class="slider__item">
          <a href="{{ article.url }}" class="slider__item-wrapper">
            {%- render 'responsive-image' with
              image: article.image.src,
              max_width: 768,
              max_height: 768,
              wrapper_class: "article-card__thumbnail-wrapper",
              image_class: "article-card__thumbnail"
            -%}

            <div class="slider__item-play-icon">
              {% include 'icon-play' %}
            </div>

            <div class="slider__item-content">
              <h3>{{ article.title }}</h3>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>

    <div class="blog-vlog__slider-wrap">
      {% assign blocks_0 = b_size | minus: 1 | times: 10 %}
      {% comment %} 10 steps for each slide, so it's smoother {% endcomment %}
      <input class="blog-vlog__slider" type="range" max="{{ blocks_0 }}" min="0" step="1" value="0" data-blog-vlog-input>
      {% assign ptf_width = 100 | divided_by: b_size | append: '%'%}
      <style>
        :root {
          --pdp-tab-input-w: {{ ptf_width }};
        }
      </style>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name":"Blog Vlog",
  "class":"blog-vlog",
  "settings": [
  {
    "type": "checkbox",
    "id": "show",
    "label": "Show this section?",
    "default": true
  },
  {
    "type": "text",
    "id": "title",
    "label": "Title"
  }],
  "blocks":[
    {
    "type": "article",
    "name": "Vlog Articles",
    "settings":[
      {
        "type":"article",
        "id":"vlog_articles",
        "label":"Select a Vlog Article"
      }]
  }]
 }
{% endschema %}

