{% if section.settings.bg %}
  {% assign c_bg = section.settings.bg %}
{% elsif collection.image %}
  {% assign c_bg = collection.image %}
{% endif %}

{% if section.settings.bg_rsp %}
  {% assign c_bg_rsp = section.settings.bg_rsp %}
{% elsif collection.image %}
  {% assign c_bg_rsp = collection.image %}
{% endif %}

{% if section.settings.title %}
  {% assign c_title = section.settings.title %}
{% elsif collection.title %}
  {% unless template == "collection" %}
    {% assign c_title = collection.title %}
  {% endunless %}
{% endif %}

{%- for block in section.blocks -%}

  {%- assign block_coll = collections[block.settings.collection] -%}
  {%- if block_coll.id == collection.id -%}

    {% if block.settings.title != blank %}
      {% assign c_title = block.settings.title %}
    {% endif %}

    {% if block.settings.bg %}
      {% assign c_bg = block.settings.bg %}
    {% endif %}

    {% if block.settings.bg_rsp %}
      {% assign c_bg_rsp = block.settings.bg_rsp %}
    {% else %}
      {% assign c_bg_rsp = block.settings.bg %}
    {% endif %}

    {% break %}
  {%- endif -%}
{%- endfor -%}

{%- if c_bg -%}
  {%- assign wrapper_class = "c-header__bg-wrap" -%}

  {%- if c_bg_rsp -%}
    {%- assign wrapper_class = "c-header__bg-wrap d-none d-sm-block" -%}
    {%- render 'responsive-image' with
      image: c_bg_rsp,
      max_width: 768,
      max_height: 768,
      wrapper_class: "c-header__bg-wrap d-sm-none",
      image_class: "c-header__bg",
      snippet_index: 11
    -%}
  {%- endif -%}

  {%- render 'responsive-image' with
    image: c_bg,
    max_width: 1600,
    max_height: 540,
    wrapper_class: wrapper_class,
    image_class: "c-header__bg",
    snippet_index: 12
  -%}
{%- endif -%}

<div class="c-header__content-wrap{% unless section.settings.bg %} static{% endunless %}">
  <div class="container">
    <div class="row">
      <div class="col-xl-1 d-none d-sm-block"></div>
      <div class="col-xl-4 col-lg-5 d-flex static">
        <div class="c-header__content">
          {% if template == "collection" %}
            <h1 class="c-header__title">{{ collection.title }}</h1>
          {% endif %}
          <h2 class="c-header__subtitle">{{ c_title }}</h2>
          <div class="c-header__usps">
            {% if section.settings.usp_title_1 != blank %}
              <div class="c-header__usp">
                <div class="c-header__icon">
                  {% render 'icon' with section.settings.usp_icon_1 %}
                </div>
                <div class="c-header__usp-title">{{ section.settings.usp_title_1 }}</div>
              </div>
            {% endif %}

            {% if section.settings.usp_title_2 != blank %}
              <div class="c-header__usp">
                <div class="c-header__icon">
                  {% render 'icon' with section.settings.usp_icon_2 %}
                </div>
                <div class="c-header__usp-title">{{ section.settings.usp_title_2 }}</div>
              </div>
            {% endif %}

            {% if section.settings.usp_title_3 != blank %}
              <div class="c-header__usp">
                <div class="c-header__icon">
                  {% render 'icon' with section.settings.usp_icon_3 %}
                </div>
                <div class="c-header__usp-title">{{ section.settings.usp_title_3 }}</div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="c-header__bottom-wave"></div>

{% schema %}
  {
    "name": "Collection Header",
    "class": "c-header",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "image_picker",
        "id": "bg",
        "label": "Background"
      },
      {
        "type": "image_picker",
        "id": "bg_rsp",
        "label": "Background Mobile"
      },
      {
        "type": "textarea",
        "id": "usp_title_1",
        "label": "USP Title 1"
      },
      {
        "type": "select",
        "id": "usp_icon_1",
        "label": "USP Icon 1",
        "options": [
          {
            "value": "acid-reflux",
            "label": "Acid Reflux"
          },
          {
            "value": "detoxifying",
            "label": "Detoxifying"
          },
          {
            "value": "hydration",
            "label": "Hydration"
          }
        ],
        "info": "Icon to be used."
      },
      {
        "type": "textarea",
        "id": "usp_title_2",
        "label": "USP Title 2"
      },
      {
        "type": "select",
        "id": "usp_icon_2",
        "label": "USP Icon 2",
        "options": [
          {
            "value": "acid-reflux",
            "label": "Acid Reflux"
          },
          {
            "value": "detoxifying",
            "label": "Detoxifying"
          },
          {
            "value": "hydration",
            "label": "Hydration"
          }
        ],
        "info": "Icon to be used."
      },
      {
        "type": "textarea",
        "id": "usp_title_3",
        "label": "USP Title 3"
      },
      {
        "type": "select",
        "id": "usp_icon_3",
        "label": "USP Icon 3",
        "options": [
          {
            "value": "acid-reflux",
            "label": "Acid Reflux"
          },
          {
            "value": "detoxifying",
            "label": "Detoxifying"
          },
          {
            "value": "hydration",
            "label": "Hydration"
          }
        ],
        "info": "Icon to be used."
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "image_picker",
            "id": "bg",
            "label": "Background"
          },
          {
            "type": "image_picker",
            "id": "bg_rsp",
            "label": "Background Mobile"
          }
        ]
      }
    ]
  }
{% endschema %}
