<div class="row">
  {% if section.settings.title != blank %}
    <div class="col-md-5">
      <h3 class="contact-form__title">
        {{ section.settings.title }}
      </h3>
    </div>
  {% endif %}

  {% if section.settings.title != blank %}
    <div class="col-md-7">
  {% else %}
    <div class="col-12">
  {% endif %}

    {% form 'contact', class: "contact-form__form" %}

      {% if form.posted_successfully? %}
        <p class="contact-form__success">
          {{ 'contact.form.post_success' | t }}
        </p>
      {% endif %}

      {{ form.errors | default_errors }}

      <label for="ContactFormName" class="visually-hidden">{{ 'contact.form.name' | t }}</label>
      <input type="text"
        name="contact[name]"
        id="ContactFormName"
        placeholder="{{ 'contact.form.name' | t }} *"
        value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}"
        required />

      <label for="ContactFormEmail" class="visually-hidden">{{ 'contact.form.email' | t }}</label>
      <input type="email"
        name="contact[email]"
        id="ContactFormEmail"
        placeholder="{{ 'contact.form.email' | t }} *"
        value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
        spellcheck="false"
        autocomplete="off"
        autocapitalize="off"
        required />

      <label for="ContactFormSubject" class="visually-hidden">{{ 'contact.form.subject' | t }} *</label>
      <select id="ContactFormSubject" name="contact[Subject]" required data-custom>
        <option value="" disabled selected hidden>{{ 'contact.form.subject' | t }} *</option>
        {% if section.blocks.size > 0 %}
          {% for block in section.blocks %}
            {% if block.settings.title != empty %}
              <option value="{{ block.settings.title }}">{{ block.settings.title }}</option>
            {% endif %}
          {% endfor %}
        {% else %}
          <option value="{{ 'contact.form.returns' | t }}">{{ 'contact.form.returns' | t }}</option>
          <option value="{{ 'contact.form.returns' | t }}">{{ 'contact.form.order' | t }}</option>
          <option value="{{ 'contact.form.returns' | t }}">{{ 'contact.form.delivery' | t }}</option>
          <option value="{{ 'contact.form.returns' | t }}">{{ 'contact.form.other' | t }}</option>
        {% endif %}
      </select>

      <label for="ContactFormMessage" class="visually-hidden">{{ 'contact.form.message' | t }}</label>
      <textarea rows="10"
        name="contact[body]"
        id="ContactFormMessage"
        placeholder="{{ 'contact.form.message' | t }} *"
        required />
        {%- if form.body -%}
          {{- form.body -}}
        {%- endif -%}
      </textarea>

      <div class="contact-form__footer">
        <span class="contact-form__note">{{ 'contact.form.required_fields' | t }}</span>
        <button class="contact-form__submit" type="submit">{{ 'contact.form.send' | t }}</button>
      </div>


    {% endform %}

  {% if section.settings.title != blank %}
    </div>
  {% else %}
    </div>
  {% endif %}
</div>

<div class="row">
  {% if section.settings.address_title != blank %}
    <div class="col-md-5">
      <h3 class="contact-form__title">
        {{ section.settings.address_title }}
      </h3>
    </div>
  {% endif %}

  {% if section.settings.address_title != blank %}
    <div class="col-md-7">
  {% else %}
    <div class="col-12">
  {% endif %}

    <div class="contact-form__address">{{ section.settings.address }}</div>

  {% if section.settings.address_title != blank %}
    </div>
  {% else %}
    </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Contact",
    "class": "contact-form",
    "settings": [
      {
        "type": "textarea",
        "id": "title",
        "label": "Form Title"
      },
      {
        "type": "textarea",
        "id": "address_title",
        "label": "Address Title"
      },
      {
        "type": "textarea",
        "id": "address",
        "label": "Address"
      }
    ],
    "blocks": [
      {
        "type": "subject",
        "name": "Subject",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Subject",
            "info": "Add / change a contact form subject."
          }
        ]
      }
    ]
  }
{% endschema %}
