{% if section.settings.title != empty %}
  <h2>{{ section.settings.title }}</h2>
{% endif %}

{% comment %} TODO - add this search in, in some form? {% endcomment %}
{% comment %}
<div>
  <form action="/search" method="get" role="search" class="contact-body__search-form" data-contact-search-form>
    <label for="contact-faq-search" class="label-hidden">
      {{ 'general.search.placeholder_long' | t }}
    </label>

    <input type="search"
      class="contact-body__search-input"
      name="q"
      id="contact-faq-search"
      value="{{ search.terms | escape }}"
      placeholder="{{ 'general.search.placeholder_long' | t }}"
      data-contact-search-input
    />

    <button type="submit" class="contact-body__search-submit" data-contact-search-submit>
      <span class="visually-hidden">{{ 'general.search.submit' | t }}</span>
      {% render 'icon-search' %}
    </button>
  </form>
</div>
{% endcomment %}

<div class="contact-body__quick-nav">
  <button data-c-q-n-button>
    <span>{{ section.settings.jump_to }}</span>
    {% render 'icon-chevron-down-thick' %}
  </button>
  <span data-c-q-n-list>
    <a href="#contact-faqs-2" data-c-q-n-link>{{ section.settings.bottle_title }}</a>
    <a href="#contact-faqs-3" data-c-q-n-link>{{ section.settings.diffuser_title }}</a>
    <a href="#contact-faqs-4" data-c-q-n-link>{{ section.settings.use_title }}</a>
  </span>
</div>

{% if section.blocks.size > 0 %}
  <h3 class="anchor" id="contact-faqs-1">{{ section.settings.top_title }}</h3>
  <ul class="no-top-m" data-accordion-parent=true>
    {% for block in section.blocks %}
      {% if block.type == "faq" %}
        {% assign contact_faq_article = articles[block.settings.faq_article] %}
        <li>
          <button class="contact-body__faq-button" data-accordion-button="{{ forloop.index }}">
            <span class="contact-body__question">
              {{ contact_faq_article.title }}
            </span>
            <span class="contact-body__closed">+</span>
            <span class="contact-body__open">-</span>
          </button>
          <div class="contact-body__answer rte" data-accordion-content="{{ forloop.index }}" style="display: none;">{{ contact_faq_article.content }}</div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <h4 class="contact-body__subtitle anchor" id="contact-faqs-2">{{ section.settings.bottle_title }}</h4>
  <ul class="no-top-m" data-accordion-parent=true>
    {% for block in section.blocks %}
      {% if block.type == "faq_bottle" %}
        {% assign contact_faq_article = articles[block.settings.faq_article] %}
        <li>
          <button class="contact-body__faq-button" data-accordion-button="{{ forloop.index }}">
            <span class="contact-body__question">
              {{ contact_faq_article.title }}
            </span>
            <span class="contact-body__closed">+</span>
            <span class="contact-body__open">-</span>
          </button>
          <div class="contact-body__answer rte" data-accordion-content="{{ forloop.index }}" style="display: none;">{{ contact_faq_article.content }}</div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <h4 class="contact-body__subtitle anchor" id="contact-faqs-3">{{ section.settings.diffuser_title }}</h4>
  <ul class="no-top-m" data-accordion-parent=true>
    {% for block in section.blocks %}
      {% if block.type == "faq_diffuser" %}
        {% assign contact_faq_article = articles[block.settings.faq_article] %}
        <li>
          <button class="contact-body__faq-button" data-accordion-button="{{ forloop.index }}">
            <span class="contact-body__question">
              {{ contact_faq_article.title }}
            </span>
            <span class="contact-body__closed">+</span>
            <span class="contact-body__open">-</span>
          </button>
          <div class="contact-body__answer rte" data-accordion-content="{{ forloop.index }}" style="display: none;">{{ contact_faq_article.content }}</div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <h4 class="contact-body__subtitle anchor" id="contact-faqs-4">{{ section.settings.use_title }}</h4>
  <ul class="no-top-m" data-accordion-parent=true>
    {% for block in section.blocks %}
      {% if block.type == "faq_use" %}
        {% assign contact_faq_article = articles[block.settings.faq_article] %}
        <li>
          <button class="contact-body__faq-button" data-accordion-button="{{ forloop.index }}">
            <span class="contact-body__question">
              {{ contact_faq_article.title }}
            </span>
            <span class="contact-body__closed">+</span>
            <span class="contact-body__open">-</span>
          </button>
          <div class="contact-body__answer rte" data-accordion-content="{{ forloop.index }}" style="display: none;">{{ contact_faq_article.content }}</div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}

{% schema %}
  {
    "name": "FAQs",
    "class": "contact-body",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Title"
      },
      {
        "type": "text",
        "id": "see_all_text",
        "label": "Show All Text",
        "default": "See All FAQs"
      },
      {
        "type": "text",
        "id": "jump_to",
        "label": "Quick faq nav label",
        "default": "Jump to"
      },
      {
        "type": "text",
        "id": "top_title",
        "label": "Top Questions Title",
        "default": "Top Questions"
      },
      {
        "type": "text",
        "id": "bottle_title",
        "label": "Bottle Registration Title",
        "default": "Bottle Registration"
      },
      {
        "type": "text",
        "id": "diffuser_title",
        "label": "Diffuser Subscription Title",
        "default": "Diffuser Subscription"
      },
      {
        "type": "text",
        "id": "use_title",
        "label": "Use and Care Title",
        "default": "Use and Care"
      }
    ],
    "blocks": [
      {
        "type": "faq",
        "name": "Top Questions",
        "settings": [
          {
            "type": "article",
            "id": "faq_article",
            "label": "FAQ article"
          }
        ]
      },
      {
        "type": "faq_bottle",
        "name": "Bottle Registration",
        "settings": [
          {
            "type": "article",
            "id": "faq_article",
            "label": "FAQ article"
          }
        ]
      },
      {
        "type": "faq_diffuser",
        "name": "Diffuser Subscription",
        "settings": [
          {
            "type": "article",
            "id": "faq_article",
            "label": "FAQ article"
          }
        ]
      },
      {
        "type": "faq_use",
        "name": "Use and Care",
        "settings": [
          {
            "type": "article",
            "id": "faq_article",
            "label": "FAQ article"
          }
        ]
      }
    ]
  }
{% endschema %}
