<div class="container" data-accordion-parent=true>
  {% if section.settings.title != empty %}
    <div class="contact-faqs__title">{{ section.settings.title }}</div>
  {% endif %}

  {% if section.settings.blog %}
    {% assign faq_blog = blogs[section.settings.blog] %}
    <div class="contact-faqs__list">
      {% assign limit = section.settings.faq_limit %}
      {% for faq_article in faq_blog.articles %}
        <div class="contact-faqs__faq" {% if forloop.index > limit %}data-faq-hidden-init{% endif %}>
          <button class="contact-faqs__faq-btn" data-accordion-button="{{ forloop.index }}">
            <span class="contact-faqs__faq-q">
              {{ faq_article.title }}
            </span>
            <span class="contact-faqs__faq-closed">+</span>
            <span class="contact-faqs__faq-open">-</span>
          </button>
          <div class="contact-faqs__faq-a" data-accordion-content="{{ forloop.index }}">{{ faq_article.content }}</div>
        </div>
      {% endfor %}
    </div>

    <div class="contact-faqs__bottom-box">
      <button class="contact-faqs__bottom-link" data-faq-show-all>{{ section.settings.see_all_text }}</button>
    </div>
  {% endif %}

</div>


{% schema %}
  {
    "name": "Contact FAQs",
    "class": "contact-faqs",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Title"
      },
      {
        "type": "text",
        "id": "see_all_text",
        "label": "Show All Text",
        "default": "See All FAQs"
      },
      {
        "type": "range",
        "id": "faq_limit",
        "label": "FAQs shown",
        "min": 2,
        "max": 20,
        "step": 1,
        "default": 6
      },
      {
        "type": "blog",
        "id": "blog",
        "label": "Blog",
        "info": "Select which blog to show as the FAQs."
      }
    ]
  }
{% endschema %}
