{%- if section.settings.lf_blog != blank -%}
  {%- if section.setting.show_lifestyle_on_hp_only == false or template.name == 'index' -%}
    <div class="site-footer__lifestyle">
      <div class="site-footer__wave-top" data-transition-wave data-transition></div>
      <div class="site-footer__lifestyle-bg">
        <div class="container" data-tab-container>
          {%- assign lf_blog = blogs[section.settings.lf_blog] -%}
          {%- assign lf_tags = lf_blog.all_tags -%}
          <div class="row">
            <div class="col-lg-5">
              <h3 class="site-footer__lf-title">{{ section.settings.lf_title }}</h3>
              <p class="site-footer__lf-content">{{ section.settings.lf_content }}</p>
              <p class="site-footer__lf-links-header">{{ section.settings.lf_topics_h }}</p>
              {% comment %} for each blog, create a a separate link {% endcomment %}
              <div class="site-footer__lf-links">
                {% if section.settings.lf_recent != blank %}
                  <a class="site-footer__lf-link active" href="#" data-tab-link="1">{{ section.settings.lf_recent }}</a>
                {% endif %}
                {% for lf_tag in lf_tags %}
                  {% assign index = forloop.index | plus: 1 %}
                  <a
                    {% if section.settings.lf_recent == blank and forloop.first %}
                    class="site-footer__lf-link active"
                    {% else %}
                    class="site-footer__lf-link"
                    {% endif %}
                    href="#"
                    data-tab-link="{{ index }}">{{ lf_tag }}</a>
                {% endfor %}
              </div>
            </div>
            <div class="col-lg-7">
              <div class="site-footer__lf-list-wrap" data-slider-wrapper>
                {% comment %} for each blog, create a new section {% endcomment %}

                {% if section.settings.lf_recent != blank %}
                  <div class="site-footer__lf-list active" data-tab="1">
                    {% for lf_article in lf_blog.articles limit: 10 %}
                      <a href="{{ lf_article.url }}" class="site-footer__lf-article">
                        {% if lf_article.image %}
                          {% render 'responsive-image' with
                            image: lf_article.image,
                            max_width: 312,
                            max_height: 312,
                            wrapper_class: "site-footer__lf-a-img-wrap",
                            image_class: "site-footer__lf-a-img",
                            span: true,
                            snippet_index: 23
                          %}
                        {% endif %}
                        <span class="site-footer__lf-a-overlay"></span>
                        <span class="site-footer__lf-a-content">
                          <span class="site-footer__lf-a-blog">{{ lf_article.tags[0] }}</span>
                          <h6 class="site-footer__lf-a-title">{{ lf_article.title }}</h6>
                        </span>
                      </a>
                    {% endfor %}
                  </div>
                {% endif %}

                {% for lf_tag in lf_tags %}
                  {% assign count = 0 %}
                  {% assign index = forloop.index | plus: 1 %}
                  <div
                    {% if section.settings.lf_recent == blank and forloop.first %}
                    class="site-footer__lf-list active"
                    {% else %}
                    class="site-footer__lf-list" style="display:none;"
                    {% endif %}
                    data-tab="{{ index }}">
                    {% for lf_article in lf_blog.articles %}
                      {% if count >= 10 %}
                        {% break %}
                      {% endif %}
                      {% if lf_article.tags contains lf_tag %}
                        {% assign count = count | plus: 1 %}
                        <div class="site-footer__lf-article">
                          {% if lf_article.image %}
                            {% render 'responsive-image' with
                              image: lf_article.image,
                              max_width: 312,
                              max_height: 312,
                              wrapper_class: "site-footer__lf-a-img-wrap",
                              image_class: "site-footer__lf-a-img",
                              snippet_index: 24
                            %}
                          {% endif %}
                          <div class="site-footer__lf-a-overlay"></div>
                          <div class="site-footer__lf-a-content">
                            <span class="site-footer__lf-a-blog">{{ lf_tag }}</span>
                            <h6 class="site-footer__lf-a-title">{{ lf_article.title }}</h6>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}
{%- endif -%}

{%- if section.settings.lf_blog != blank -%}
  {%- if section.setting.show_lifestyle_on_hp_only == false or template.name == 'index' or template.name == 'blog' -%}
  <div class="site-footer__separator gray"></div>
  {%- else -%}
  <div class="site-footer__separator"></div>
  {%- endif -%}
{%- endif -%}


<div class="site-footer__newsletter-wave" data-transition-wave data-transition></div>

<div class="site-footer__newsletter"
  data-transition-wave
  data-transition>
  <div class="container">
    <div class="row">
      <div></div>
      <div class="col-md-12 col-lg-6">
        <div class="site-footer__newsletter-title">
          <h2>{{ section.settings.footer_newsletter_title }}</h2>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <p>{{ section.settings.footer_newsletter_opt_in_text }}</p>
        <div class="site-footer__newsletter-button-wrapper">
          <div class="site-footer__newsletter-button-container">
            <div class="site-footer__newsletter-button" data-button-slider></div>
            <button id="email" class="active" data-email-opt-in>{{ 'layout.footer.email' | t }}</button>
            <button id="sms" data-sms-opt-in>{{ 'layout.footer.sms' | t }}</button>
          </div>
        </div>

        <div class="site-footer__newsletter-container">
          <div class="site-footer__newsletter-opt-in opt-in-email active" data-email-input>
            <div class="email-signup">
              <form novalidate="" target="_blank" method="GET" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" action="//manage.kmail-lists.com/subscriptions/subscribe" class=" klaviyo_standard_embed_e9NMuf" id="email_signup">
                <span class="klaviyo_field_group">
                <input value="e9NMuf" name="g" type="hidden">
                <input placeholder="{{ section.settings.email_placeholder }}" id="k_id_email" name="email" type="email" class="newsletter__input">
                <button class="newsletter__submit klaviyo_submit_button btn" type="submit" name="commit" id="NewsletterSubscribe">
                  {% render 'icon-send' %}
                </button>
                </span>
              </form>

              <div class="klaviyo_messages">
                <div style="display:none;" class="success_message"></div>
                <div style="display:none;" class="error_message"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="site-footer__newsletter-opt-in opt-in-sms" data-phone-input>
          <script type="text/javascript" src="https://dhv2ziothpgrr.cloudfront.net/59511/form_13428.js?ver=1593707386"></script>
          <button type="submit" data-phone-submit>{% render 'icon-send' %}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="site-footer__footer">
  <div class="site-footer__wave-middle"></div>
  <div class="site-footer__footer-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 order-lg-1 order-1">
          <div class="row" data-tab-container data-accordion-rsp-breakpoint="768">
            {% for link in linklists[section.settings.menu].links %}
            <div class="col-lg-2 col-md-4 col-12" data-accordion-parent-rsp=true data-accordion-mobile-only="true">
              <div class="site-footer__p-link-wrap" data-accordion-button-rsp="{{ forloop.index }}">
                <a class="site-footer__parent-link" href="{{ link.url }}">
                  {{ link.title }}
                  <span class="site-footer__closed">+</span>
                  <span class="site-footer__open">-</span>
                </a>
              </div>
              {% if link.links != blank %}
                <ul class="site-footer__menu-list active" data-accordion-content-rsp="{{ forloop.index }}">
                  {% for childlink in link.links %}
                    <li class="site-footer__menu-item">
                      <a class="site-footer__menu-link" href="{{ childlink.url }}">
                        {{ childlink.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
            {% endfor %}

            <div class="col-lg-2 col-md-4">
              <h3 class="site-footer__reach-out-title">{{ section.settings.reach_out_title }}</h3>
              <div class="site-footer__reach-out">
                <a href="tel:{{ section.settings.contact_phone }}" class="site-footer__reach-out-tel">{{ section.settings.contact_phone }}</a>
                <a href="mailto:{{ section.settings.contact_mail }}">{{ section.settings.contact_mail }}</a>
                <a onclick="Smooch.open()" href="">{{ 'layout.footer.live_chat' | t }}</a>
                <div class="d-flex justify-content-center justify-content-lg-start">
                  {% render 'social-links' %}
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 order-lg-2">
              {% render 'footer-payment-options' with
                paypal: section.settings.show_paypal,
                google: section.settings.show_google,
                amazon: section.settings.show_amazon,
                apple: section.settings.show_apple,
                shopify: section.settings.show_shopify,
                mastercard: section.settings.show_mastercard,
                discover: section.settings.show_discover,
                amex: section.settings.show_amex,
                visa: section.settings.show_visa
              %}
            </div>
          </div>
        </div>
        <div class="col-lg-12 d-none d-lg-flex order-lg-2 order-2">
          <div class="footer-copyright">
            © {{ "now" | date: "%Y" }}, DYLN Inc.
            {% if section.settings.privacy_policy_url != empty %}
              | <a href="{{ section.settings.privacy_policy_url }}">Privacy Policy</a>
            {% endif %}
            {% if section.settings.terms_agreements_link != empty %}
              | <a href="{{ section.settings.terms_agreements_link }}">Terms</a>
            {% endif %}
            {% if section.settings.ip_link != empty %}
              | <a href="{{ section.settings.ip_link }}">IP</a>
            {% endif %}
          </div>
        </div>

        <div class="col-sm-12 d-flex order-6 d-lg-none justify-content-center">
          <div class="footer-copyright">
            <span>
              © {{ "now" | date: "%Y" }}, DYLN Inc.
            </span>
            {% if section.settings.privacy_policy_url != blank %}
              <span class="footer-copyright-delimiter">|</span> <a href="{{ section.settings.privacy_policy_url }}">Privacy Policy</a>
            {% endif %}
            {% if section.settings.terms_agreements_link != blank %}
              | <a href="{{ section.settings.terms_agreements_link }}">Terms</a>
            {% endif %}
            {% if section.settings.ip_link != blank %}
              | <a href="{{ section.settings.ip_link }}">IP</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "class": "site-footer",
    "settings": [
      {
        "type": "text",
        "id": "footer_newsletter_title",
        "label": "Footer Newsletter Title"
      },
      {
        "type": "image_picker",
        "id": "footer_newsletter_background",
        "label": "Footer Newsletter Background"
      },
      {
        "type": "text",
        "id": "footer_newsletter_opt_in_text",
        "label": "Footer Newsletter Opt-In Text"
      },
      {
        "type": "text",
        "id": "telephone_placeholder",
        "label": "Newsletter Phone Placeholder",
        "default": "Phone Number"
      },
      {
        "type": "text",
        "id": "email_placeholder",
        "label": "Newsletter E-mail Placeholder",
        "default": "Email Address"
      },
      {
        "type": "checkbox",
        "id": "show_amazon",
        "label": "Show Amazon Pay?"
      },
      {
        "type": "checkbox",
        "id": "show_google",
        "label": "Show Google Pay?"
      },
      {
        "type": "checkbox",
        "id": "show_paypal",
        "label": "Show PayPal"
      },
      {
        "type": "checkbox",
        "id": "show_apple",
        "label": "Show Apple Pay?"
      },
      {
        "type": "checkbox",
        "id": "show_shopify",
        "label": "Show Shopify Pay?"
      },
      {
        "type": "checkbox",
        "id": "show_mastercard",
        "label": "Show Mastercard?"
      },
      {
        "type": "checkbox",
        "id": "show_amex",
        "label": "Show Amex?"
      },
      {
        "type": "checkbox",
        "id": "show_discover",
        "label": "Show Discover?"
      },
      {
        "type": "checkbox",
        "id": "show_visa",
        "label": "Show Visa?"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      },
      {
        "type": "checkbox",
        "id": "show_lifestyle_on_hp_only",
        "label": "Home page only",
        "info": "Show Lifestyle Section only on home page?",
        "default": true
      },
      {
        "type": "text",
        "id": "lf_recent",
        "label": "Recent Blogs Header",
        "default": "Recent"
      },
      {
        "type": "text",
        "id": "lf_title",
        "label": "Lifestyle Title"
      },
      {
        "type": "textarea",
        "id": "lf_content",
        "label": "Lifestyle Description"
      },
      {
        "type": "text",
        "id": "lf_topics_h",
        "label": "Lifestyle Topics Header"
      },
      {
        "type": "blog",
        "id": "lf_blog",
        "label": "Lifestyle Blog",
        "info": "The blog selection is required for the section to appear."
      },
      {
        "type": "text",
        "id": "reach_out_title",
        "label": "Reach Out Title"
      },
      {
        "type": "text",
        "id": "contact_mail",
        "label": "Reach Out Contact Mail"
      },
      {
        "type": "text",
        "id": "contact_phone",
        "label": "Reach Out Contact Phone"
      },
      {
        "type": "url",
        "id": "privacy_policy_url",
        "label": "Privacy Policy Link"
      },
      {
        "type": "url",
        "id": "terms_agreements_link",
        "label": "Terms and Agreements Link"
      },
      {
        "type": "url",
        "id": "ip_link",
        "label": "IP Link"
      }
    ]
  }
{% endschema %}
