{%- if section.settings.enabled -%}
  {%- if section.settings.home_page_only == false or template.name == 'index' -%}
    <div class="announcement-bar" data-announcement-bar>
      <div class="announcement-bar__box">
        {% comment %} USA {% endcomment %}
        <div class="container" data-announcement-bar-usa>
          <div class="row justify-content-between no-gutters">
            {% if section.settings.d_link_text_1 != blank %}
              <div class="col-lg-auto align-self-center d-none d-lg-block">
                <div class="announcement-bar__link-wrap">
                  <a class="announcement-bar__link" href="{{ section.settings.d_link_1 }}">{{ section.settings.d_link_text_1 }}</a>
                </div>
              </div>
            {% endif %}

            <div class="col-lg-auto {% if section.settings.m_link_text != blank %}col-sm-9 col-8{% else %}col-12{% endif %} align-self-center">
              <div class="announcement-bar__content">{{ section.settings.text }}</div>
            </div>

            {% if section.settings.d_link_text_2 != blank %}
              <div class="col-lg-auto align-self-center d-none d-lg-block">
                <div class="announcement-bar__link-wrap">
                  <a class="announcement-bar__link" href="{{ section.settings.d_link_2 }}">{{ section.settings.d_link_text_2 }}</a>
                </div>
              </div>
            {% endif %}

            {% if section.settings.m_link_text != blank %}
              <div class="col-sm-3 col-4 align-self-center d-lg-none">
                <div class="announcement-bar__link-wrap text-right">
                  <a class="announcement-bar__link" href="{{ section.settings.m_link }}">{{ section.settings.m_link_text }}</a>
                </div>
              </div>
            {% endif %}
          </div>
        </div>

        {% comment %} Canada {% endcomment %}
        <div class="container" style="display:none" data-announcement-bar-ca>
          <div class="row justify-content-between no-gutters">
            {% if section.settings.d_link_text_1_ca != blank %}
              <div class="col-lg-auto align-self-center d-none d-lg-block">
                <div class="announcement-bar__link-wrap">
                  <a class="announcement-bar__link" href="{{ section.settings.d_link_1_ca }}">{{ section.settings.d_link_text_1_ca }}</a>
                </div>
              </div>
            {% endif %}

            <div class="col-lg-auto {% if section.settings.m_link_text_ca != blank %}col-sm-9 col-8{% else %}col-12{% endif %} align-self-center">
              <div class="announcement-bar__content">{{ section.settings.text_ca }}</div>
            </div>

            {% if section.settings.d_link_text_2_ca != blank %}
              <div class="col-lg-auto align-self-center d-none d-lg-block">
                <div class="announcement-bar__link-wrap">
                  <a class="announcement-bar__link" href="{{ section.settings.d_link_2_ca }}">{{ section.settings.d_link_text_2_ca }}</a>
                </div>
              </div>
            {% endif %}

            {% if section.settings.m_link_text_ca != blank %}
              <div class="col-sm-3 col-4 align-self-center d-lg-none">
                <div class="announcement-bar__link-wrap text-right">
                  <a class="announcement-bar__link" href="{{ section.settings.m_link_ca }}">{{ section.settings.m_link_text_ca }}</a>
                </div>
              </div>
            {% endif %}
          </div>
        </div>

        {% comment %} Other countries {% endcomment %}
        <div class="container" style="display:none" data-announcement-bar-other>
          <div class="row justify-content-between no-gutters">
            {% if section.settings.d_link_text_1_other != blank %}
              <div class="col-lg-auto align-self-center d-none d-lg-block">
                <div class="announcement-bar__link-wrap">
                  <a class="announcement-bar__link" href="{{ section.settings.d_link_1_other }}">{{ section.settings.d_link_text_1_other }}</a>
                </div>
              </div>
            {% endif %}

            <div class="col-lg-auto {% if section.settings.m_link_text_other != blank %}col-sm-9 col-8{% else %}col-12{% endif %} align-self-center">
              <div class="announcement-bar__content">{{ section.settings.text_other }}</div>
            </div>

            {% if section.settings.d_link_text_2_other != blank %}
              <div class="col-lg-auto align-self-center d-none d-lg-block">
                <div class="announcement-bar__link-wrap">
                  <a class="announcement-bar__link" href="{{ section.settings.d_link_2_other }}">{{ section.settings.d_link_text_2_other }}</a>
                </div>
              </div>
            {% endif %}

            {% if section.settings.m_link_text_other != blank %}
              <div class="col-sm-3 col-4 align-self-center d-lg-none">
                <div class="announcement-bar__link-wrap text-right">
                  <a class="announcement-bar__link" href="{{ section.settings.m_link_other }}">{{ section.settings.m_link_text_other }}</a>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}
{%- endif -%}


{% schema %}
  {
    "name": "Header Announcement bar",
    "settings": [
      {
        "type": "checkbox",
        "id": "enabled",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "home_page_only",
        "label": "Show on home page only",
        "default": true
      },
      {
        "type": "header",
        "content": "Announcement - USA"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "d_link_1",
        "label": "Desktop Link 1"
      },
      {
        "type": "text",
        "id": "d_link_text_1",
        "label": "Desktop Link Text 1"
      },
      {
        "type": "url",
        "id": "d_link_2",
        "label": "Desktop Link 2"
      },
      {
        "type": "text",
        "id": "d_link_text_2",
        "label": "Desktop Link Text 2"
      },
      {
        "type": "url",
        "id": "m_link",
        "label": "Mobile Link"
      },
      {
        "type": "text",
        "id": "m_link_text",
        "label": "Mobile Link Text"
      },
      {
        "type": "header",
        "content": "Announcement - Canada"
      },
      {
        "type": "text",
        "id": "text_ca",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "d_link_1_ca",
        "label": "Desktop Link 1"
      },
      {
        "type": "text",
        "id": "d_link_text_1_ca",
        "label": "Desktop Link Text 1"
      },
      {
        "type": "url",
        "id": "d_link_2_ca",
        "label": "Desktop Link 2"
      },
      {
        "type": "text",
        "id": "d_link_text_2_ca",
        "label": "Desktop Link Text 2"
      },
      {
        "type": "url",
        "id": "m_link_ca",
        "label": "Mobile Link"
      },
      {
        "type": "text",
        "id": "m_link_text_ca",
        "label": "Mobile Link Text"
      },
      {
        "type": "header",
        "content": "Announcement - Other Countries"
      },
      {
        "type": "text",
        "id": "text_other",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "d_link_1_other",
        "label": "Desktop Link 1"
      },
      {
        "type": "text",
        "id": "d_link_text_1_other",
        "label": "Desktop Link Text 1"
      },
      {
        "type": "url",
        "id": "d_link_2_other",
        "label": "Desktop Link 2"
      },
      {
        "type": "text",
        "id": "d_link_text_2_other",
        "label": "Desktop Link Text 2"
      },
      {
        "type": "url",
        "id": "m_link_other",
        "label": "Mobile Link"
      },
      {
        "type": "text",
        "id": "m_link_text_other",
        "label": "Mobile Link Text"
      }
    ]
  }
{% endschema %}