{% assign show_offset = true %}

{% if template == "no-template"
%}
  {% assign show_offset = false %}
{% endif %}

<section data-section-id="{{ section.id }}" data-section-type="header">
  {% render 'announcement-bar'
    with section.settings.announcement_bar_enabled
    home_only: section.settings.announcement_bar_home_page_only
    content: section.settings.announcement_bar_text
    desktop_link_1: section.settings.announcement_bar_d_link_1
    desktop_link_text_1: section.settings.announcement_bar_d_link_text_1
    desktop_link_2: section.settings.announcement_bar_d_link_2
    desktop_link_text_2: section.settings.announcement_bar_d_link_text_2
    mobile_link: section.settings.announcement_bar_m_link
    mobile_link_text: section.settings.announcement_bar_m_link_text
  %}

  <header role="banner" class="site-header__main" data-site-header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-auto col-4 order-lg-1 order-2  align-self-center">
          {% render 'header-logo' %}
        </div>

        <div class="col-lg col-4 align-self-center static order-1 order-lg-2">
          {% render 'header-button' %}
          <div class="site-header__mobile-wrap" data-menu-mobile>
            <div class="site-header__mobile-overlay" data-menu-mobile-overlay></div>
            <div class="site-header__mobile-shadow"></div>
            <div class="site-header__mobile-body">
              <div class="site-header__mobile-inner">
                {% if section.settings.bottle_enabled %}
                  {% render 'header-bottle' with section.settings.bottle_title,
                    b_title: section.settings.bottle_section_title,
                    b_subtitle: section.settings.bottle_section_subtitle,
                    b_content: section.settings.bottle_section_content,
                    b_link: section.settings.bottle_section_link,
                    b_link_text: section.settings.bottle_section_link_text,
                    b_video: section.settings.bottle_section_video,
                    b_usp: section.settings.bottle_section_usp_title,
                    b_usp_icon_1: section.settings.bottle_section_usp_icon_1,
                    b_usp_title_1: section.settings.bottle_section_usp_title_1,
                    b_usp_content_1: section.settings.bottle_section_usp_content_1,
                    b_usp_icon_2: section.settings.bottle_section_usp_icon_2,
                    b_usp_title_2: section.settings.bottle_section_usp_title_2,
                    b_usp_content_2: section.settings.bottle_section_usp_content_2,
                    b_usp_icon_3: section.settings.bottle_section_usp_icon_3,
                    b_usp_title_3: section.settings.bottle_section_usp_title_3,
                    b_usp_content_3: section.settings.bottle_section_usp_content_3
                  %}
                {% endif %}

                {% if section.settings.shop_enabled %}
                  {% render 'header-shop' with section.settings.shop_menu,
                    s_title: section.settings.shop_title,
                    s_p_links: section.settings.shop_prominent_links,
                    s_featured: section.settings.shop_show_featured,
                    s_f_content: section.settings.shop_featured_content,
                    s_f_image: section.settings.shop_featured_image,
                    s_f_text: section.settings.shop_featured_link_text,
                    s_f_link: section.settings.shop_featured_link,
                    s_all_text: section.settings.shop_all_link_text,
                    s_all_link: section.settings.shop_all_link
                  %}
                {% endif %}

                {% if section.settings.about_enabled %}
                  {% render 'header-about' with section.settings.about_menu,
                    about_title: section.settings.about_title
                  %}
                {% endif %}

                {% if section.settings.login_enabled %}
                  <div class="d-lg-none">
                    {% render 'header-login' with
                      l_title: section.settings.login_title,
                      l_form_title: section.settings.form_title,
                      l_reg_link: section.settings.register_link,
                      l_reg_text: section.settings.register_link_text
                     %}
                  </div>
                {% endif %}

                {% if section.settings.help_enabled %}
                  <div class="d-lg-none">
                    {% include 'header-help' with section.settings.help_menu,
                      h_title: section.settings.help_title,
                      h_image: section.settings.help_image,
                      h_link_1: section.settings.help_link_1,
                      h_link_text_1: section.settings.help_link_1_text,
                      h_link_2: section.settings.help_link_2,
                      h_link_text_2: section.settings.help_link_2_text,
                      h_link_3: section.settings.help_link_3,
                      h_link_text_3: section.settings.help_link_3_text,
                      h_faq_title: section.settings.faq_title,
                      h_faq_link: section.settings.faq_link,
                      h_faq_link_text: section.settings.faq_link_text,
                      h_faq_1: section.settings.faq_article_1,
                      h_faq_2: section.settings.faq_article_2,
                      h_faq_3: section.settings.faq_article_3
                    %}
                  </div>
                {% endif %}

                {% if section.settings.search_enabled %}
                  <div class="d-lg-none">
                    {% render 'header-search' with
                      enable_ajax: section.settings.s_ajax,
                      manual_popular: section.settings.s_pop_manual,
                      popular_terms: section.settings.s_pop_terms,
                      popular_title: section.settings.s_pop_title
                    %}
                  </div>
                {% endif %}

              </div>

              {% render 'header-bottom' with
                phone: section.settings.help_link_1
                phone_text: section.settings.help_link_1_text
              %}
            </div>
          </div>
        </div>

        <div class="col-lg col-4 align-self-center static order-3 order-lg-3">
          <div class="site-header__utils">

            {% if section.settings.login_enabled %}
              <div class="site-header__utils-block d-none d-lg-inline-block">
                {% render 'header-login' with
                  l_title: section.settings.login_title,
                  l_form_title: section.settings.form_title,
                  l_reg_link: section.settings.register_link,
                  l_reg_text: section.settings.register_link_text
                  %}
              </div>
            {% endif %}

            {% if section.settings.help_enabled %}
              <div class="site-header__utils-block static d-none d-lg-inline-block">
                {% render 'header-help' with section.settings.help_menu,
                  h_title: section.settings.help_title,
                  h_image: section.settings.help_image,
                  h_link_1: section.settings.help_link_1,
                  h_link_text_1: section.settings.help_link_1_text,
                  h_link_2: section.settings.help_link_2,
                  h_link_text_2: section.settings.help_link_2_text,
                  h_link_3: section.settings.help_link_3,
                  h_link_text_3: section.settings.help_link_3_text,
                  h_faq_title: section.settings.faq_title,
                  h_faq_link: section.settings.faq_link,
                  h_faq_link_text: section.settings.faq_link_text,
                  h_faq_1: section.settings.faq_article_1,
                  h_faq_2: section.settings.faq_article_2,
                  h_faq_3: section.settings.faq_article_3
                %}
              </div>
            {% endif %}

            {% if section.settings.search_enabled %}
              <div class="site-header__utils-block static">
                {% render 'header-search' with
                  enable_ajax: section.settings.s_ajax,
                  manual_popular: section.settings.s_pop_manual,
                  popular_terms: section.settings.s_pop_terms,
                  popular_title: section.settings.s_pop_title
                %}
              </div>
            {% endif %}

            <div class="site-header__utils-block">
              <button type="button" class="site-header__utils-cart" data-cart-drawer-toggle>
                <span class="visually-hidden">{{ 'layout.cart.title' | t }}</span>
                <span class="site-header__utils-cart-num" data-cart-drawer-count>
                  {{ cart.item_count }}
                  <span class="visually-hidden">{{ 'layout.cart.items_in_cart' | t }}</span>
                </span>
                <span class="site-header__utils-cart-icon" aria-hidden="true">
                  {% render 'icon-cart' %}
                </span>
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </header>

</section>

<div class="header-offset{% if show_offset %} always{% endif %}" data-header-offset></div>

{% if section.settings.logo != blank %}
  <style>
    .header-logo__link {
      display: block;
      max-width: {{ section.settings.logo_max_width }}px;
    }
  </style>
{% endif %}

{% schema %}
  {
    "name": "Header",
    "class": "site-header",
    "settings": [
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_enabled",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_home_page_only",
        "label": "Show on home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "announcement_bar_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "announcement_bar_d_link_1",
        "label": "Desktop Link 1"
      },
      {
        "type": "text",
        "id": "announcement_bar_d_link_text_1",
        "label": "Desktop Link Text 1"
      },
      {
        "type": "url",
        "id": "announcement_bar_d_link_2",
        "label": "Desktop Link 2"
      },
      {
        "type": "text",
        "id": "announcement_bar_d_link_text_2",
        "label": "Desktop Link Text 2"
      },
      {
        "type": "url",
        "id": "announcement_bar_m_link",
        "label": "Mobile Link"
      },
      {
        "type": "text",
        "id": "announcement_bar_m_link_text",
        "label": "Mobile Link Text"
      },
      {
        "type": "header",
        "content": "Bottle"
      },
      {
        "type": "checkbox",
        "id": "bottle_enabled",
        "label": "Show this menu",
        "default": true
      },
      {
        "type": "text",
        "id": "bottle_title",
        "label": "Bottle Link Title",
        "default": "The Bottle"
      },
      {
        "type": "textarea",
        "id": "bottle_section_title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "bottle_section_subtitle",
        "label": "Subtitle"
      },
      {
        "type": "textarea",
        "id": "bottle_section_content",
        "label": "Content"
      },
      {
        "type": "url",
        "id": "bottle_section_link",
        "label": "Link URL"
      },
      {
        "type": "text",
        "id": "bottle_section_link_text",
        "label": "Link Text"
      },
      {
        "type": "textarea",
        "id": "bottle_section_video",
        "label": "Video Embed",
        "info": "Paste the youtube video embed code here."
      },
      {
        "type": "textarea",
        "id": "bottle_section_usp_title",
        "label": "USPs Title"
      },
      {
        "type": "text",
        "id": "bottle_section_usp_icon_1",
        "label": "USP Icon 1",
        "info": "Possible input: alkaline, antioxidant, infused"
      },
      {
        "type": "textarea",
        "id": "bottle_section_usp_title_1",
        "label": "USP Title 1"
      },
      {
        "type": "textarea",
        "id": "bottle_section_usp_content_1",
        "label": "USP Content 1"
      },
      {
        "type": "text",
        "id": "bottle_section_usp_icon_2",
        "label": "USP Icon 2",
        "info": "Possible input: alkaline, antioxidant, infused"
      },
      {
        "type": "textarea",
        "id": "bottle_section_usp_title_2",
        "label": "USP Title 2"
      },
      {
        "type": "textarea",
        "id": "bottle_section_usp_content_2",
        "label": "USP Content 2"
      },
      {
        "type": "text",
        "id": "bottle_section_usp_icon_3",
        "label": "USP Icon 3",
        "info": "Possible input: alkaline, antioxidant, infused"
      },
      {
        "type": "textarea",
        "id": "bottle_section_usp_title_3",
        "label": "USP Title 3"
      },
      {
        "type": "textarea",
        "id": "bottle_section_usp_content_3",
        "label": "USP Content 3"
      },
      {
        "type": "header",
        "content": "Shop"
      },
      {
        "type": "checkbox",
        "id": "shop_enabled",
        "label": "Show this menu",
        "default": true
      },
      {
        "type": "link_list",
        "id": "shop_menu",
        "label": "Shop Menu"
      },
      {
        "type": "text",
        "id": "shop_title",
        "label": "Shop Link Title",
        "default": "Shop"
      },
      {
        "type": "textarea",
        "id": "shop_prominent_links",
        "label": "Prominent Links",
        "info": "Which links should have a more prominent display? (Full width, with featured images if available). Paste them here and separate with comma."
      },
      {
        "type": "checkbox",
        "id": "shop_show_featured",
        "label": "Show Featured"
      },
      {
        "type": "textarea",
        "id": "shop_featured_content",
        "label": "Featured content"
      },
      {
        "type": "image_picker",
        "id": "shop_featured_image",
        "label": "Featured Image"
      },
      {
        "type": "url",
        "id": "shop_featured_link",
        "label": "Featured Link"
      },
      {
        "type": "text",
        "id": "shop_featured_link_text",
        "label": "Featured Link Text"
      },
      {
        "type": "url",
        "id": "shop_all_link",
        "label": "Shop All Link"
      },
      {
        "type": "text",
        "id": "shop_all_link_text",
        "label": "Shop All Link Text"
      },
      {
        "type": "header",
        "content": "About Us"
      },
      {
        "type": "checkbox",
        "id": "about_enabled",
        "label": "Show this menu",
        "default": true
      },
      {
        "type": "text",
        "id": "about_title",
        "label": "About Link Title",
        "default": "About Us"
      },
      {
        "type": "link_list",
        "id": "about_menu",
        "label": "About Menu"
      },
      {
        "type": "header",
        "content": "Login/Account"
      },
      {
        "type": "checkbox",
        "id": "login_enabled",
        "label": "Show this menu",
        "default": true
      },
      {
        "type": "text",
        "id": "login_title",
        "label": "Account Title",
        "default": "Account"
      },
      {
        "type": "text",
        "id": "form_title",
        "label": "Form Title",
        "default": "LOGIN"
      },
      {
        "type": "url",
        "id": "register_link",
        "label": "Register Link Text"
      },
      {
        "type": "text",
        "id": "register_link_text",
        "label": "Register Link Text",
        "default": "Register your new bottle"
      },
      {
        "type": "header",
        "content": "Help"
      },
      {
        "type": "checkbox",
        "id": "help_enabled",
        "label": "Show this menu",
        "default": true
      },
      {
        "type": "text",
        "id": "help_title",
        "label": "Help Title",
        "default": "Help"
      },
      {
        "type": "link_list",
        "id": "help_menu",
        "label": "Help Menu"
      },
      {
        "type": "image_picker",
        "id": "help_image",
        "label": "Help menu Image"
      },
      {
        "type": "url",
        "id": "help_link_1",
        "label": "Phone Link"
      },
      {
        "type": "text",
        "id": "help_link_1_text",
        "label": "Phone Link Text"
      },
      {
        "type": "url",
        "id": "help_link_2",
        "label": "Email Link"
      },
      {
        "type": "text",
        "id": "help_link_2_text",
        "label": "Email Link Text"
      },
      {
        "type": "url",
        "id": "help_link_3",
        "label": "Chat Link"
      },
      {
        "type": "text",
        "id": "help_link_3_text",
        "label": "Chat Link Text"
      },
      {
        "type": "text",
        "id": "faq_title",
        "label": "FAQs Title",
        "default": "FAQs"
      },
      {
        "type": "article",
        "id": "faq_article_1",
        "label": "FAQ Article 1"
      },
      {
        "type": "article",
        "id": "faq_article_2",
        "label": "FAQ Article 2"
      },
      {
        "type": "article",
        "id": "faq_article_3",
        "label": "FAQ Article 3"
      },
      {
        "type": "url",
        "id": "faq_link",
        "label": "FAQ link"
      },
      {
        "type": "text",
        "id": "faq_link_text",
        "label": "FAQ link text"
      },
      {
        "type": "header",
        "content": "Search"
      },
      {
        "type": "checkbox",
        "id": "search_enabled",
        "label": "Show this menu",
        "default": true
      },
      {
        "type": "textarea",
        "id": "s_pop_title",
        "label": "Popular Title"
      },
      {
        "type": "checkbox",
        "id": "s_ajax",
        "label": "Use Ajax Search",
        "info": "If turned off, and no search app present, this will send users to a separate search page with the search results."
      },
      {
        "type": "checkbox",
        "id": "s_pop_manual",
        "label": "Show Popular Terms",
        "info": "Manual setting, any search app will have separate popular term functionality and display."
      },
      {
        "type": "textarea",
        "id": "s_pop_terms",
        "label": "Popular Terms",
        "info": "Manually list popular terms. Separate with comma(,).   "
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
