<div class="index-features__wave-top" data-transition data-transition-wave></div>

<div class="container regular">
  {% if section.settings.title != blank %}
    <h2 class="index-features__title">{{ section.settings.title }}</h2>
  {% endif %}
  {% for block in section.blocks %}
    {% assign modulo = forloop.index | modulo: 2 %}
    {% assign image_order = " order-md-2 order-0" %}
    {% assign title_class = "" %}
    {% if modulo == 0  %}
      {% assign image_order = " order-md-0 order-0" %}
      {% assign title_class = " alt" %}
    {% endif %}
    <div class="index-features__feature">
      <div class="row">
        <div class="col-md-7 d-md-flex order-md-1 order-1">
          <div class="index-features__content">
            {% if block.settings.title != blank %}
              <h3 class="index-features__f-title{{ title_class }}">{{ block.settings.title }}</h3>
            {% endif %}

            {% if block.settings.content != blank %}
              <div class="index-features__f-content">{{ block.settings.content }}</div>
            {% endif %}

            {% if block.settings.bottom != blank %}
              <div class="index-features__f-bottom">{{ block.settings.bottom }}</div>
            {% endif %}
          </div>
        </div>
        <div class="col-md-5{{ image_order }}">
          {% if block.settings.image %}
            {% render 'responsive-image' with
              image: block.settings.image,
              max_width: 425,
              max_height: 425,
              wrapper_class: "index-header__bg-wrap",
              image_class: "index-header__bg",,
              snippet_index: 26
            %}
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<div class="index-features__wave-btm"></div>

{% schema %}
  {
    "name": "Index Features",
    "class": "index-features",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Title"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "425x425"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content",
            "info": "You can use basic html to style the section. Use <span class=\"brand-green\">#yourtexthere</span> To color a segment of text blue. Use brand-green for green."
          },
          {
            "type": "textarea",
            "id": "bottom",
            "label": "Bottom Content"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Index Features",
      "category": "Front Page"
    }]
  }
{% endschema %}
