<div class="index-video__outer" id="index-video" data-transition-fade data-transition data-index-video-focusout>
  {%- if section.settings.background -%}
    <div class="index-video__bg-outer active" data-index-video-bg>
      {%- render 'responsive-image' with
        image: section.settings.background,
        max_width: 700,
        max_height: 500,
        wrapper_class: "index-video__bg-wrap",
        image_class: "index-video__bg",
      -%}
    </div>
  {%- endif -%}

  <div class="index-video__content-outer">
    <div class="index-video__container container">
      <div class="index-video__row row">
        <div class="col-xl-2 col-lg-1 d-none d-lg-block"></div>
        <div class="col-xl-4 col-lg-5 col-md-6 d-flex">
          <div class="index-video__content">
            {%- if section.settings.video != blank or section.settings.video_embed != blank -%}
              <button type="button" class="index-video__link d-md-none" data-index-video-open>
                <span class="index-video__link-text">{{- section.settings.link_text -}}</span>
                <span class="index-video__link-icon">{%- render 'icon-play' -%}</span>
              </button>
            {%- endif -%}

            {%- if section.settings.title != blank -%}
              <h2 class="index-video__title">{{- section.settings.title -}}</h2>
            {%- endif -%}

            {%- if section.settings.text != blank -%}
              <p class="index-video__text">{{- section.settings.text -}}</p>
            {%- endif -%}

            {%- if section.settings.video != blank or section.settings.video_embed != blank  -%}
              <button type="button" class="index-video__link d-none d-md-inline-block" data-index-video-open>
                <span class="index-video__link-text">{{- section.settings.link_text -}}</span>
                <span class="index-video__link-icon">{%- render 'icon-play' -%}</span>
              </button>
            {%- endif -%}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="index-video__modal-wrap" style="display:none;" data-index-video-modal>
  <div class="index-video__modal-outer" data-index-video-close></div>
  <div class="index-video__modal">
    <button class="index-video__modal-close" data-index-video-close tabindex="-1" data-index-video-focusin>
      {% render 'icon-close' %}
      <span class="visually-hidden">{{ 'general.accessibility.close' | t }}</span>
    </button>
    <div class="container" tabindex="-1">
      {%- if section.settings.video != blank -%}
        <video class="index-video__video" playsinline width="{{ section.settings.video_width }}" height="{{ section.settings.video_height }}">
          <source src="{{- section.settings.video -}}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        {%- elsif section.settings.video_embed != blank -%}
        <div class="index-video__video">
          {{- section.settings.video_embed -}}
        </div>
      {%- endif -%}
    </div>
    <button
      class="visually-hidden"
      data-index-video-close
      tabindex="-1">
      {{ 'general.accessibility.close' | t }}
    </button>
  </div>
</div>


{% schema %}
  {
    "name": "Index Video",
    "class": "index-video",
    "settings": [
      {
        "type": "image_picker",
        "id": "background",
        "label": "Background",
        "info": "700x500"
      },
      {
        "type": "textarea",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Link Text",
        "default": "Watch full Video"
      },
      {
        "type": "textarea",
        "id": "video",
        "label": "Video",
        "info": "Upload a video to Shopify files and paste the source url here. Or paste the source url to a video here."
      },
      {
        "type": "textarea",
        "id": "video_embed",
        "label": "Video Embed",
        "info": "Or use an embed from youtube, vimeo or similar. Copy/paste the embed code here."
      },
      {
        "type": "range",
        "id": "video_width",
        "label": "Video Width",
        "min": 300,
        "max": 900,
        "step": 10,
        "default": 600
      },
      {
        "type": "range",
        "id": "video_height",
        "label": "Video Height",
        "min": 300,
        "max": 680,
        "step": 10,
        "default": 450
      }
    ],
    "presets": [{
      "name": "Index Video",
      "category": "Front Page"
    }]
  }
{% endschema %}
