<div class="container">
  {% if section.settings.title != blank %}
    <h2 class="index-shop__title" data-title="title">
      {{ section.settings.title }}
    </h2>
  {% endif %}
</div>

<div class="container index-shop__prod-container" data-slick-pi-mobile>
  <div class="row justify-content-center index-shop__prod-row">
    {% for block in section.blocks %}
      {% if block.type == "product" and block.settings.product != blank %}
        <div class="col-lg-3 index-shop__prod-col">
          {% assign p_item = all_products[block.settings.product] %}
          {% render 'product-item' with p_item, hide_title_mobile: true %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<div class="container">
  <div class="index-shop__collections">
    <div class="row justify-content-center">
      {% for block in section.blocks %}
        {% if block.type == "collection" %}
          <div class="col-lg-4 col-6">
            <div class="index-shop__collection">
              {%- assign block_coll = collections[block.settings.collection] -%}
              {% if block.settings.image %}
                {% assign block_image = block.settings.image %}
              {% else %}
                {% assign block_image = block_coll.image %}
              {% endif %}	
              {% render 'responsive-image' with
                image: block_image,
                max_width: 500,
                max_height: 500,
                wrapper_class: "index-shop__c-img-wrap",
                image_class: "index-shop__c-img",
                snippet_index: 29
              %}
              {% assign block_title = "Shop " | append: block_coll.title %}
              {% if block.settings.title != blank %}
                {% assign block_title = block.settings.title %}
              {% endif %}
              <a class="index-shop__c-title" href="{{ block_coll.url }}">
                {% if block.settings.title_mobile != blank %}
                  <span class="d-none d-md-block">{{ block_title }}</span>
                  <span class="d-md-none">{{ block.settings.title_mobile }}</span>
                {% else %}
                  {{ block_title }}
                {% endif %}
              </a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Index Shop",
    "class": "index-shop",
    "settings": [
      {
        "type": "textarea",
        "id": "title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Products",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      },
      {
        "type": "collection",
        "name": "Collections",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection",
            "info": "Additional collections to show under the featured prodcuts."
          },
          {
            "type": "textarea",
            "id": "title",
            "label": "Title",
            "info": "Optional, will default to Shop #CollectionName."
          },
          {
            "type": "textarea",
            "id": "title_mobile",
            "label": "Mobile Title",
            "info": "Different title for mobile."
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "300x300. Optional, will default to the collection image."
          }
        ]
      }
    ],
    "presets": [{
      "name": "Index Shop",
      "category": "Front Page"
    }]
  }
{% endschema %}
