<div class="index-header__outer">

  {%- if section.settings.background -%}
    {%- assign wrapper_class = "index-header__bg-wrap" -%}

    {%- if section.settings.background_rsp -%}
      {%- assign wrapper_class = "index-header__bg-wrap d-none d-sm-block" -%}
      {%- render 'responsive-image' with
        image: section.settings.background_rsp,
        max_width: 768,
        max_height: 768,
        wrapper_class: "index-header__bg-wrap d-sm-none",
        image_class: "index-header__bg",
        snippet_index: 27
      -%}
    {%- endif -%}

    {%- render 'responsive-image' with
      image: section.settings.background,
      max_width: 1920,
      max_height: 720,
      wrapper_class: wrapper_class,
      image_class: "index-header__bg",
      snippet_index: 28
    -%}
  {%- endif -%}

  <div class="index-header__content-wrap">
    <div class="container index-header__container">
      <div class="row index-header__row">
        <div class="col-xl-2 col-lg-1 d-lg-block d-none"></div>
        <div class="col-xl-4 col-lg-5 col-8 d-flex static">
          <div class="index-header__content">
            {%- if section.settings.title != blank -%}
              <h2 class="index-header__title">{{- section.settings.title -}}</h2>
            {%- endif -%}

            {%- if section.settings.link_text != blank -%}
              <div class="index-header__link-wrap">
                <a class="index-header__link" href="{{- section.settings.link_url -}}">{{- section.settings.link_text -}}</a>
              </div>
            {%- endif -%}

            {%- if section.blocks.size > 0 -%}
              <div class="index-header__features">
              {%- for feature in section.blocks -%}
                <div class="index-header__f">
                  {%- if feature.settings.icon != blank -%}
                    <div class="index-header__f-icon">
                      {%- if feature.settings.icon == "acid-reflux" -%}
                        {%- render 'icon-acid-reflux' -%}
                      {%- elsif feature.settings.icon == "detoxifying" -%}
                        {%- render 'icon-detoxifying' -%}
                      {%- elsif feature.settings.icon == "hydration" -%}
                        {%- render 'icon-hydration' -%}
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                  <div class="index-header__f-text">{{- feature.settings.title -}}</div>
                </div>
              {%- endfor -%}
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
      {%- if section.settings.bottom_text != blank -%}
        <div class="index-header__btm">
          <a
            class="index-header__btm-link"
            href="{{ section.settings.bottom_url }}"
            {% if section.settings.bottom_scroll_to != blank %}
              data-scroll-to="{{ section.settings.bottom_scroll_to }}"
            {% endif %}>
            {{ section.settings.bottom_text }}
          </a>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

<div class="index-header__wave-wrap"></div>

{% schema %}
  {
    "name": "Index Header",
    "class": "index-header",
    "settings": [
      {
        "type": "image_picker",
        "id": "background",
        "label": "Background",
        "info": "1600x720"
      },
      {
        "type": "image_picker",
        "id": "background_rsp",
        "label": "Background Mobile",
        "info": "768x768"
      },
      {
        "type": "textarea",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "url",
        "id": "link_url",
        "label": "Link"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Link Text"
      },
      {
        "type": "url",
        "id": "bottom_url",
        "label": "Bottom Link"
      },
      {
        "type": "text",
        "id": "bottom_text",
        "label": "Bottom Link Text"
      },
      {
        "type": "text",
        "id": "bottom_scroll_to",
        "label": "Bottom Link ScrollTo",
        "info": "If a html selector is input here, the link will smooth scroll to that selector instead of going to an url."
      }
    ],
    "blocks": [
      {
        "type": "feature",
        "name": "Feature",
        "settings": [
          {
            "type": "text",
            "id": "icon",
            "label": "Icon",
            "info": "Icon name to be used. Icons available: acid-reflux, detoxifying, hydration. Copy one of these and paste it in the text field."
          },
          {
            "type": "textarea",
            "id": "title",
            "label": "Feature Title"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Index Header",
      "category": "Front Page"
    }]
  }
{% endschema %}
