<h2>{{ section.settings.title }}</h2>

<div class="container-fluid">
  <div class="row">
      {% assign step_num = section.settings.num_of_steps | plus: 0 %}
      {% for i in (1..step_num) %}
        <div class="lp-steps__step">
          <span class="lp-steps__step-num">{{ i }}</span>
          <div class="lp-steps__step-tab-container" data-tabs-container>
            <div class="lp-steps__step-tab-nav">
              {% if section.settings.video_tab %}
                <a class="lp-steps__step-tab active" data-tab-link="0">
                  <h4>{{ section.settings.video_tab_title }}</h4>
                </a>
              {% endif %}

              {% if section.settings.illustrations_tab %}
                <a class="lp-steps__step-tab" data-tab-link="1">
                  <h4>{{ section.settings.illustrations_tab_title }}</h4>
                </a>
              {% endif %}
            </div>

            <div class="lp-steps__step-tab-content-wrapper">
            {% for block in section.blocks %}
              {% assign block_step_num = block.settings.step_num | plus: 0 %}
              {% if section.settings.video_tab and block.type == "video" and block_step_num == i %}
                <div class="lp-steps__step-tab-content active" data-tab="0">
                  <iframe
                    id="ytplayer"
                    type="text/html"
                    src="https://www.youtube.com/embed/{{ block.settings.video_id }}?autoplay=0&origin=http://example.com"
                    frameborder="0"></iframe>
                </div>
              {% endif %}

              {% if section.settings.illustrations_tab and block.type == "illustration" and block_step_num == i %}
                <div class="lp-steps__step-tab-content" data-tab="1">
                  {{ block.settings.illustration_content }}
                </div>
              {% endif %}
            {% endfor %}
            </div>
          </div>
        </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
  "name":"Landing Pages Steps",
  "class":"lp-steps",
  "settings":[
    {
      "type":"text",
      "id":"title",
      "label":"Heading",
      "default":"Title"
    },
    {
      "type":"checkbox",
      "id":"video_tab",
      "label":"Show first tab?"
    },
    {
      "type":"text",
      "id":"video_tab_title",
      "label":"Insert title of first tab"
    },
    {
      "type":"checkbox",
      "id":"illustrations_tab",
      "label":"Show second tab?"
    },
    {
      "type":"text",
      "id":"illustrations_tab_title",
      "label":"Insert title of second tab"
    },
    {
      "type":"text",
      "id": "num_of_steps",
      "label": "How many Step Sections?"
    }
  ],
  "blocks":[
    {
      "type":"step",
      "name":"Step Sections",
      "settings":[
        {
          "type":"text",
          "id":"step_num",
          "label":"Step Number"
        },
        {
          "type":"text",
          "id":"step_title",
          "label":"Step Title"
        }]
    },
    {
      "type":"video",
      "name":"Video",
      "settings":[
      {
        "type":"text",
        "id":"step_num",
        "label":"Step Number"
      },
      {
        "type":"text",
        "id":"video_id",
        "label":"Step Video (Add YouTube Video ID)"
      }]
      },
      {
      "type":"illustration",
      "name":"Illustration",
      "settings":[
        {
          "type":"text",
          "id":"step_num",
          "label":"Step Number"
        },
        {
          "type":"html",
          "id":"illustrations_gif",
          "label":"Paste embed code for Illustration step gif."
        },
        {
          "type":"textarea",
          "id": "illustration_content",
          "label": "Insert text below the gif illustration example."
        }
      ]
    }
    ]
  }
{% endschema %}
