<h2>{{ section.settings.title }}</h2>

<div class="container-fluid">
  <div class="row">
    {% for block in section.blocks %}
      <div class="lp-steps__step">
        <span class="lp-steps__step-num">{{ forloop.index }}</span>
        <h3>{{ block.settings.step_title }}</h3>
        <div class="lp-steps__step-tab-container" data-tabs-container>
          <div class="lp-steps__step-tab-nav">
            {% if block.settings.video_tab %}
              <a class="lp-steps__step-tab active" data-tab-link="0">
                <h4>Video Instructions</h4>
              </a>
            {% endif %}

            {% if block.settings.illustrations_tab %}
              <a class="lp-steps__step-tab" data-tab-link="1">
                <h4>Illustrated Instructions</h4>
              </a>
            {% endif %}
          </div>
          <div class="lp-steps__step-tab-content-wrapper">
            {% if block.settings.video_tab %}
              <div class="lp-steps__step-tab-content active" data-tab="0">
                {{ block.settings.video }}
                <iframe
                        id="ytplayer"
                        type="text/html"
                        src="https://www.youtube.com/embed/{{ block.settings.video_id }}?autoplay=0&origin=http://example.com"
                        frameborder="0"></iframe>
              </div>
            {% endif %}

            {% if block.settings.illustrations_tab %}
              <div class="lp-steps__step-tab-content" data-tab="1">
                {{ block.settings.illustrations_content }}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
  "name":"Landing Pages Steps",
  "class":"lp-steps",
  "settings":[
    {
      "type":"text",
      "id":"title",
      "label":"Heading",
      "default":"Title"
    }
  ],
  "blocks":[
    {
      "type":"text",
      "name":"Steps",
      "settings":[
      {
        "type":"text",
        "id":"step_title",
        "label":"Step Title"
      },
      {
        "type":"checkbox",
        "id":"video_tab",
        "label":"Show first tab?"
      },
      {
        "type":"text",
        "id":"video_tab_title",
        "label":"Insert title of first tab"
      },
      {
        "type":"checkbox",
        "id":"illustrations_tab",
        "label":"Show second tab?"
      },
      {
        "type":"text",
        "id":"illustrations_tab_title",
        "label":"Insert title of second tab"
      },
      {
        "type":"text",
        "id":"video_id",
        "label":"Step Video (Add YouTube Video ID"
      },
      {
        "type":"html",
        "id":"illustrations_content",
        "label":"Illustrations content"
      },
      {
        "type":"html",
        "id":"step_content",
        "label":"Step content"
      }
    ]
  }
  ]
  }
{% endschema %}
