<div class="d-none d-lg-block">
  <h1 class="pdp-content__title">{{ product.title }}</h1>

  <div class="pdp-content__reviews">
    <span class="stamped-product-reviews-badge" data-id="{{ product.id }}">{{ product.metafields.stamped.badge }}</span>
  </div>
</div>

<div class="pdp-content__content rte">
  {{ product.description }}
  <a class="pdp-content__link" href="#pdp-tabs-anchor">{{ 'products.product.see_features' | t }}</a>
</div>

{% schema %}
  {
    "name": "Content",
    "class": "pdp-content",
    "settings": []
  }
{% endschema %}
