{% if section.settings.show %}
  <div class="container" data-accordion-parent=true>
    {% if section.settings.title != blank %}
      <div class="pdp-faqs__title">{{ section.settings.title }}</div>
    {% endif %}

    <div class="row">
      {% for block in section.blocks %}
        {% if block.settings.faq_article != blank %}
          {% assign pdp_faq_article = articles[block.settings.faq_article] %}
          <div class="col-lg-6">
            <div class="pdp-faqs__faq">
              <button class="pdp-faqs__faq-btn" data-accordion-button="{{ forloop.index }}">
                <span class="pdp-faqs__faq-q">
                  {{ pdp_faq_article.title }}
                </span>
                <span class="pdp-faqs__faq-closed">+</span>
                <span class="pdp-faqs__faq-open">-</span>
              </button>
              <div class="pdp-faqs__faq-a" data-accordion-content="{{ forloop.index }}" style="display: none;">{{ pdp_faq_article.content | strip_html }}</div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>

  </div>
{% endif %}

{% schema %}
  {
    "name": "FAQs",
    "class": "pdp-faqs",
    "settings": [
      {
        "type": "checkbox",
        "id": "show",
        "label": "Show Section",
        "default": true
      },
      {
        "type": "text",
        "id": "title",
        "label": "Section Title"
      }
    ],
    "blocks": [
      {
        "type": "faq",
        "name": "FAQ",
        "settings": [
          {
            "type": "article",
            "id": "faq_article",
            "label": "FAQ article"
          }
        ]
      }
    ]
  }
{% endschema %}
