<div data-po-atc class="po-footer__container">
  <div class="container">
    <div class="row">
      <div class="po-footer__content">
        <h2>{{ section.settings.title }}</h2>
        <a href="{{ section.settings.customize_link_url }}">{{ section.settings.customize_link_text }}</a>
      </div>

      <div class="po-footer__submit-wrap">
        <a href="{{ section.settings.cta_link }}" class="product-item__submit-btn"
        {% if section.settings.cta_tab_id != blank %}data-po-tab-open="{{ section.settings.cta_tab_id }}"{% endif %}
        {% if section.settings.cta_scroll_to != blank %}data-scroll-to="{{ section.settings.cta_scroll_to }}"{% endif %}>{{ section.settings.footer_cta_text }}</a>
      </div>

      <div class="po-footer__shipping-notice">
        <p>{{ section.settings.shipping_notice_text }}
          <a href="{{ section.settings.shipping_notice_btn_link }}">
            {{ section.settings.shipping_notice_btn_text }}
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
  "name": "Pre-Order Footer",
  "class": "po-footer",
  "settings": [
    {
    "type": "text",
    "id": "title",
    "label": "Title"
    },
    {
    "type": "text",
    "id": "customize_link_text",
    "label": "Customize Link Text"
    },
    {
    "type": "url",
    "id": "customize_link_url",
    "label": "Customize Link URL"
    },
    {
    "type": "text",
    "id": "shipping_notice_text",
    "label": "Shipping Notice Text"
    },
    {
    "type": "text",
    "id": "shipping_notice_btn_text",
    "label": "Shipping Notice Btn Text"
    },
    {
    "type": "url",
    "id": "shipping_notice_btn_link",
    "label": "Shipping Notice Btn URL"
    },
    {
    "type": "text",
    "id": "footer_cta_text",
    "label": "Footer CTA Text"
    },
 	{
    "type": "url",
    "id": "cta_link",
    "label": "CTA Button Link"
    },
    {
      "type": "text",
      "id": "cta_scroll_to",
      "label": "Link ScrollTo",
      "info": "If a html selector is input here, the link will smooth scroll to that selector instead of going to an url."
    },
    {
      "type": "text",
      "id": "cta_tab_id",
      "label": "Link Tab Open",
      "info": "If the link should open a shop all tab, insert the id of the shop tab here. (index is top tab followed by inner tab index, so Bottles, size 16 is index 11, Sports caps, standard is 32, Extra diffusers is 2)"
    }
  ]
  }
{% endschema %}
