<div class="po-bottle-sizes__wrapper">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="po-bottle-sizes__title">
          <h2>{{ section.settings.title }}</h2>
        </div>
       <div class="po-bottle-sizes__sizes">
         {% for block in section.blocks %}
           <div class="po-bottle-sizes__sizes-item">
             <strong>{{ block.settings.bottle_sizes_imperial }}</strong>
             <em>{{ block.settings.bottle_sizes_metric }}</em>
           </div>
         {% endfor %}
       </div>
        <div class="col-md-12">
          <div class="po-bottle-sizes__link">
            <a href="{{ section.settings.btn_link }}">{{ section.settings.btn_text }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="po-bottle-sizes__bottom-wave"></div>

{% schema %}
  {
  "name": "Pre-Order Bottle Sizes",
  "class": "po-bottle-sizes",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button Link"
    }
  ],
  "blocks":[
    {
      "type":"text",
      "name":"Bottle Size",
      "settings":[
      {
        "type":"text",
        "id":"bottle_sizes_imperial",
        "label":"Bottle Size Imperial"
      },
      {
        "type":"text",
        "id":"bottle_sizes_metric",
        "label":"Bottle Size Metric"
      }
    ]
  }
  ]
  }
{% endschema %}
