{% assign block_p = all_products["dyln-insulated-alkaline-water-bottle-32-oz-wide-mouth"] %}
{% assign block_p_def_v = block_p.selected_or_first_available_variant %}
{% assign block_p_img = "" %}
{% assign block_p_colors = "" %}
{% assign color = "" %}
{% assign color_classes = "" %}
{% assign imperial_size = block_p.metafields.product.imperial_unit %}
{% assign metric_size = block_p.metafields.product.metric_unit %}

{% for option in block_p.options_with_values %}
  {% if option.name == "Color" or option.name == "Sleeve Color" or option.name == "Sleeve" %}
    {% for value in option.values %}
      {% assign block_p_colors =  block_p_colors  | append: value | append: ',' %}
    {% endfor %}
    {% break %}
  {% endif %}
{% endfor %}

{% assign b_p_colors_array = block_p_colors | split: ',' %}
{% for color in b_p_colors_array %}
  {% assign color_class = value %}
  {% assign color_classes = color_classes | append: color | append: 'string' %}
{% endfor %}

<div
  class="product-item{% if block_p.has_only_default_variant %} single{% endif %}"
  data-pi-item
  data-pi-static-class="product-item{% if block_p.has_only_default_variant %} single{% endif %}"
  data-single-product="{{ block_p.id }}">
  {% form 'product', block_p, data-product-form: '', data-product-handle: block_p.handle, class: "product-item__form" %}
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <span class="product-item__gallery" data-pi-image-gallery>
            {% assign first = true %}
            {% assign any_image = false %}

            {% for color in b_p_colors_array %}
              {% assign color_satisfied = false %}
              {% for block_p_img in block_p.images %}
                {% unless color_satisfied  %}
                  {% if block_p_img.alt contains color %}

                    {% if first %}
                      {% assign gallery_attribute = 'data-pi-image="' | append: color  | append: '"' %}
                      {% assign gallery_wrapper = "active product-item__g-img-wrap" %}
                    {% else %}
                      {% assign gallery_attribute = 'style="display:none;"' | append: 'data-pi-image="' | append: color  | append: '"' %}
                      {% assign gallery_wrapper = "product-item__g-img-wrap" %}
                    {% endif %}

                    <span class="product-item__gallery-img">
                      {% render 'responsive-image' with
                        image: block_p_img,
                        max_width: 300,
                        max_height: 450,
                        wrapper_class: gallery_wrapper,
                        image_class: "product-item__gallery-img",
                        wrapper_attributes: gallery_attribute,
                        span: true
                      %}
                    </span>

                    {% assign first = false %}
                    {% assign color_satisfied = true %}
                    {% assign any_image = true %}
                  {% endif %}
                {% endunless %}
              {% endfor %}
            {% endfor %}

            {% unless any_image %}
              <span class="product-item__gallery-img">
                {% render 'responsive-image' with
                  image: block_p.featured_image,
                  max_width: 300,
                  max_height: 450,
                  wrapper_class: "product-item__g-img-wrap",
                  image_class: "product-item__gallery-img"
                  span: true
                %}
              </span>
            {% endunless %}
          </span>
        </div>
        <div class="col-lg-5">
          <input type="hidden" id="{{ block_p.id }}-quantity" name="quantity" value="1" min="1" />

          {% if block_p.has_only_default_variant %}
            <input type="hidden" name="id" value="{{ block_p_def_v.id }}" data-productid="{{ product.id }}"/>
          {% else %}
            <select name="id" style="display:none !important;" data-pi-variant-select data-productid="{{ product.id }}">
              {% for p_i_variant in block_p.variants %}
                <option value="{{ p_i_variant.id }}"
                  {% unless p_i_variant.available %}disabled="disabled"{% endunless %}
                  {% if forloop.first %}selected="selected"{% endif %}>
                  {{ p_i_variant.title }}
                </option>
              {% endfor %}
            </select>
          {% endif %}

          <a
            class="product-item__image-link"
            href="{{ block_p.url }}"
            title="{{ 'products.product.view_details' | t }}"
            data-pi-item-link>

            {% if hide_title_mobile %}
              <h3 class="product-item__title d-none d-md-inline-block">
                {{ block_p.title }}
              </h3>
            {% else %}
              <h3 class="product-item__title">
                {{ block_p.title }}
              </h3>
            {% endif %}

            {% render 'product-item-tags' with block_p %}

            {% if imperial_size %}
              <span class="product-item__size">
                {{ imperial_size }} {{ 'products.product.imperial_size' | t }}
              </span>
            {% endif %}

            <span class="product-item__price">
              <span data-pi-price>
                {{ block_p_def_v.price | money | remove: ".00" | strip }}
              </span>
              <s data-pi-compare>
                {% if block_p_def_v.compare_at_price > block_p_def_v.price %}
                  {{ block_p_def_v.compare_at_price | money | remove: ".00" | strip }}
                {% endif %}
              </s>
            </span>
          </a>

          {% unless block_p.has_only_default_variant %}
            {% if block_p.variants.size > 1 %}
              <div class="product-item__options">
                {% for option in block_p.options_with_values %}
                  {% assign name_clean = option.name | downcase %}
                  {% if name_clean == "color" or name_clean == "sleeve color" or name_clean == "sleeve" %}
                    <span class="product-item__options-label">{{ 'products.product.select_html' | t: option: option.name }}</span>
                    <div class="product-item__colors" data-pi-option="{{ forloop.index }}">
                      {% for value in option.values %}
                        {% assign p_i_swatch_name = value | strip | strip_html | strip_newlines | handleize %}
                        {% assign p_i_class_name = "color-swatch-" | append: p_i_swatch_name %}
                        {% assign variant_id = "" %}
                        {% for p_v in block_p.variants %}
                          {% if p_v.title == value %}
                            {% assign variant_id = p_v.id %}
                            {% break %}
                          {% endif %}
                        {% endfor %}
                        <div class="product-item__color-wrap" data-geo-specific-variant="{{ variant_id }}">
                          <input
                            class="product-item__color-input"
                            type="radio"
                            id="{{ block_p.id }}-option{{ option.position }}-{{ value | handleize }}"
                            name="options[{{ option.name }}]"
                            value="{{ value }}"
                            data-pi-option-value="{{ value }}"
                            data-pi-option-name="{{ name_clean }}"
                            data-pi-option-index="{{ option.position }}"
                            data-geo-variant-id="{{ variant_id }}"
                            {% if forloop.first %}checked{% endif %}
                            title="{{ value | remove: '_' }}" />
                          <label
                            class="product-item__color-label {{ p_i_class_name }}"
                            for="{{ block_p.id }}-option{{ option.position }}-{{ value | handleize }}"
                            title="{{ value | remove: '_' }}">
                            <span {% comment %} class="hide" {% endcomment %}>{{ value }}</span>
                          </label>
                          <span class="product-item__exclamation" data-pi-option-exclamation>!</span>
                        </div>
                      {% endfor %}
                    </div>
                  {% else %}
                    <span class="product-item__options-label">{{ 'products.product.select_html' | t: option: option.name }}</span>
                    <div class="product-item__option" data-pi-option="{{ forloop.index }}">
                      {% for value in option.values %}
                        <span class="product-item__value-wrap">
                          <input
                            class="product-item__value-input"
                            type="radio"
                            id="{{ block_p.id }}-option{{ option.position }}-{{ value | handleize }}"
                            name="options[{{ option.name }}]"
                            value="{{ value }}"
                            data-pi-option-value="{{ value }}"
                            data-pi-option-name="{{ name_clean }}"
                            data-pi-option-index="{{ option.position }}"
                            {% if forloop.first %}checked{% endif %} />
                          <label
                            class="product-item__value-label"
                            for="{{ block_p.id }}-option{{ option.position }}-{{ value | handleize }}">
                            {% assign adjusted_diffuser_title = value %}
                            {% if adjusted_diffuser_title == "1 Diffuser" %}
                              {% assign adjusted_diffuser_title = "Single Pack" %}
                            {% elsif adjusted_diffuser_title contains "Diffusers" %}
                              {% assign adjusted_diffuser_title = value | replace: ' Diffusers', '-Pack'%}
                            {% endif %}
                            {{ adjusted_diffuser_title }}
                          </label>
                        </span>
                      {% endfor %}
                    </div>
                  {% endif %}

                {% endfor %}
              </div>
            {% endif %}
          {% endunless %}

          <div class="product-item__submit-wrap">
            <button
              type="submit"
              class="product-item__submit-btn"
              data-pi-submit
              data-geo-submit
              data-add-to-cart
              {% unless block_p_def_v.available %}disabled="disabled"{% endunless %}
            >
              <span data-add-to-cart-loaded>
                <span class="product-item__submit-price" data-pi-submit-price>
                  {% if block_p_def_v.available %}
                    {{ block_p_def_v.price | money | remove: ".00" | strip }}
                  {% endif %}
                </span>
                <span class="product-item__submit-text" data-pi-submit-text data-geo-submit-text>
                  {% if block_p_def_v.available %}
                    {{ 'products.product.add_to_cart' | t }}
                  {% else %}
                    {{ 'products.product.sold_out' | t }}
                  {% endif %}
                </span>
              </span>
              <span data-add-to-cart-loading class="loading-dots hide">{{ 'general.accessibility.loading' | t }}</span>
            </button>

            <p class="product-form__sold-out-notice hide" data-geo-shipping-note></p>
          </div>

          <input type="hidden" data-current-product-id value="{{ block_p.id }}" />

          {% if block_p != blank and block_p.has_only_default_variant == false %}
            <script type="application/json" data-product-json>
              {
                "variants": [
                  {% for block_p_j_v in block_p.variants %}
                    {
                      "id": {{ block_p_j_v.id | json }},
                      "price": {{ block_p_j_v.price | json }},
                      "compare_at": {{ block_p_j_v.compare_at_price | json }},
                      "available": {{ block_p_j_v.available | json }},
                      "Option1": {{ block_p_j_v.option1 | json }},
                      "Option2": {{ block_p_j_v.option2 | json }},
                      "Option3": {{ block_p_j_v.option3 | json }}
                    }{% unless forloop.last %},{% endunless %}
                  {% endfor %}
                ]
              }
            </script>
          {% endif %}
        </div>
      </div>
    </div>
  {% endform %}
</div>

